{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}

{% block title %}About{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>About</h1>
{% endblock page_title %}

{% block content %}
    <style>
    .sub-header {
        border-bottom: 1px solid #f2f2f2;
{#        background-color: #f9f9f9;#}
        margin-top: 20px;
        padding: 1px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .arrow-menu {
        font-size: 14pt !important;
        margin-top: 10px !important;
    }
    .sub-header-body {
        margin-top: 15px;
        padding: 0 10px;
    }
    </style>

    <div class="page-header">
        <h1 class="text-muted">
            About
        </h1>
    </div>

    <div>
        <span>
            The certification platform in projecta is designed to provide an easy path for
            projects to be able to issue certifcation certificates. The system allows
            a project to approve one or more certification providers. These
            providers can then set up training centers
        </span>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Creating a certificate template <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>
            There is a hidden layer in the XCF above that has the ‘plain’ certificate - if you show that
            layer you can see why the graphical elements were placed where they were. You can basically
            decorate around the pre-planned text from the certificate but we don't have a templating
            language so you cannot move the pre-defined elements currently.
        </span>
        <span>
            Once your template is prepared, you hide again the original certificate layer and export
            your gimp document as a png, then upload it to the course edit page and test your template
            by adding one course participant and using the ‘Print Certificate’ icon to preview it.
        </span>
        <span>
            Note that the template you upload should be formatted to A4, not US Letter.
        </span>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Sub header 2<i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Getting Help<i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>
            If you have any problems using the certification platform please file an
            issue at https://github.com/kartoza/projecta/issues.
        </span>
    </div>

    <script>
        function expandDiv(parent_div) {
            $(parent_div).children().children().toggle();
            $(parent_div).next().toggle();
        }
    </script>
{% endblock %}
