{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}

{% block title %}About{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>About</h1>
{% endblock page_title %}

{% block content %}
    <style>
    .sub-header {
        border-bottom: 1px solid #f2f2f2;
{#        background-color: #f9f9f9;#}
        margin-top: 20px;
        padding: 1px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .arrow-menu {
        font-size: 14pt !important;
        margin-top: 10px !important;
    }
    .sub-header-body {
        margin-top: 15px;
        padding: 0 10px;
    }
    </style>

    <div class="page-header">
        <h1 class="text-muted">
            Certification programme overview
        </h1>
    </div>

    <div>
        <span>
            The certification platform in Projecta is designed to provide an easy path for
            projects to be able to issue certification certificates. The system allows
            a project to approve one or more certification providers. These
            providers can then set up training centers and course conveners.
            Course conveners prepare a course and then attendees are assigned
            to that course. Once the course is completed, certificates get
            issued by the course convener in digital form. There is the
            opportunity to charge a fee for each certificate issued. This
            mechanism can be used to support the parent project.
        </span>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Creating a certificate template <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>
            There is a hidden layer in the XCF above that has the ‘plain’ certificate - if you show that
            layer you can see why the graphical elements were placed where they were. You can basically
            decorate around the pre-planned text from the certificate but we don't have a templating
            language so you cannot move the pre-defined elements currently.
        </span>
        <span>
            Once your template is prepared, you hide again the original certificate layer and export
            your gimp document as a png, then upload it to the course edit page and test your template
            by adding one course participant and using the ‘Print Certificate’ icon to preview it.
        </span>
        <span>
            Note that the template you upload should be formatted to A4, not US Letter.
        </span>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Payments<i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>
            We are planning to introduce an e-commerce system soon. When that is implemented, you
            will be able to purchase credits which can be used to then pay for the
            certificates you issue. Currently we work on a somewhat manual system -
            when you are going to be running a course, ask one of the project
            administrators to load credits for your organisation. Then add attendees to your
            course (you can do this individually or in buld by providing a CSV file).
        </span>
    </div>
   <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Issuing certificates<i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>
            We are planning to introduce an e-commerce system soon. When that is implemented, you
            will be able to purchase credits which can be used to then pay for the
            certificates you issue. Currently we work on a somewhat manual system -
            when you are going to be running a course, ask one of the project
            administrators to load credits for your organisation. Then add attendees to your
            course (you can do this individually or in bulk by providing a CSV file).

            Once you have issued certificates for each attendee you can issue certificates.
            The process of registering an attendee and issuing the certificate is separated
            so you need only issue certificate to those that pass your course.

            Each attendee will receive an email with a link to a downloadable copy of the
            certificate. The certificate includes a unique number which is allocated to each certificate
            and a unique link that they can provide (for example in their CV) to
            verify that they have indeed completed the course. This mechanism should
            help to prevent fake certificates.

            Course conveners should upload a digital signature to their
            profile. This is embedded into the certificate together with
            the digital signature of the project leader (who needs to set this
            in the project profile options page).
        </span>
    </div>
    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Getting Help<i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i><i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <span>
            If you have any problems using the certification platform please file an
            issue at https://github.com/kartoza/projecta/issues.
        </span>
    </div>

    <script>
        function expandDiv(parent_div) {
            $(parent_div).children().children().toggle();
            $(parent_div).next().toggle();
        }
    </script>
{% endblock %}
