{% extends "project_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ Other }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
{{  floppyforms }}

{% endblock %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock css_head %}

{% block js_head %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/i18n/datepicker.en.js' %}"></script>
{% endblock %}

{% block page_title %}
<h1>Add Sustaining Membership Period</h1>
{% endblock page_title %}

{% block content %}
    <script>
    $(function() {
        $("#id_start_date").attr('data-language', 'en');
        $("#id_end_date").attr('data-language', 'en');

        $("#id_start_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true,
            position: 'top left',
            onSelect: function (date) {
                $("#id_end_date").val(date);
                $("#id_end_date").datepicker({minDate: new Date(date)})
            },
        });

        $("#id_end_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true,
            position: 'top left',
            onSelect: function (date) {
                $("#id_start_date").val(date);
                $("#id_start_date").datepicker({maxDate: new Date(date)})
            },
        });

        // Set default date for start and end
        let today = new Date();
        let oneYearLater = new Date().setFullYear(today.getFullYear() + 1);
        $('#id_start_date').datepicker().data('datepicker').selectDate(today);
        $('#id_end_date').datepicker().data('datepicker').selectDate(new Date(oneYearLater));
    });
    </script>

    <section id="forms">
        <h3>New Sustaining Member Period for {{ project.name }}</h3>
        <hr/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="vertical-space"></div>
            <div class="form-actions">
                <input type="submit" name="submit" value="Submit"
                       class="btn btn-primary" id="submit-save">
            </div>
        </form>
    </section>

{% endblock %}
