{% extends "project_base.html" %}
{% load thumbnail %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Categories (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Categories
            <small class="pull-right">
                <a class="btn btn-default btn-mini"
                    href='{% url "category-create" %}'>
                    <span class="glyphicon glyphicon-asterisk"></span>
                </a>
            </small>
        </h1>
    </div>
    {%  ifequal num_categories 0 %}
        {% if unapproved %}
            <h3>All categories are approved.</h3>
        {% else %}
            <h3>No categories are defined (use the 'add' menu or the * icon
                above to add one).</h3>
        {% endif %}
    {%  endifequal %}
    {% for category in categories %}
    <script>console.debug("{{ category }}");</script>
    <div class="row">
        <div class="col-lg-1">
            {% if category.image_file %}
            <a href="{{ MEDIA_URL }}{{ category.image_file }}">
              <img class="img-responsive img-rounded pull-right"
                   src="{% thumbnail category.image_file 50x50 crop %}" />
            </a>
            {%  endif %}
        </div>
        <div class="col-lg-9">
            <div class="media-body">
                <h3 class="media-heading">
                    <small>{{ category.project.name }}</small>
                      {{ category.name }}
                </h3>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="btn-group pull-right">
                {%  if not category.approved and user.is_staff %}
                <a class="btn btn-success btn-mini"
                   href='{% url "category-approve" category.id %}'>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                {% endif %}
                <a class="btn btn-default btn-mini"
                    href='{% url "category-delete" category.id %}'>
                        <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini"
                    href='{% url "category-update" category.id %}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-default btn-mini"
                    href='{% url "category-detail" category.id %}'>
                        <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
        </div>
    </div>
    {%  endfor %}
    <hr />
    {% include "_pagination.html" %}
{% endblock %}
