{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}

{% block title %}Categories - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Categories (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Categories
            {% if user.is_authenticated %}
                <div class="pull-right btn-group">
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "category-create" project_slug %}'
                       data-title="Create New Category">
                        {% show_button_icon "add" %}
                    </a>
                    {% if not unapproved %}
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "pending-category-list" project_slug %}'
                           data-title="View Pending Categories">
                            <span class="glyphicon glyphicon-time"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "category-list" project_slug %}'
                           data-title="View Categories">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a class="btn btn-default btn-mini tooltip-toggle"
                            href='{% url "category-order" project_slug %}'
                            data-title="Order Categories">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </a>
                    {% endif %}
                </div>
                    <span id="order-saved" hidden class="alert alert-success" style="font-size: 9pt; padding: 3px;font-style: italic;">
                        order saved</span>
                    <span id="order-not-saved" hidden class="alert alert-danger" style="font-size: 9pt; padding: 3px;font-style: italic;">
                        order not saved</span>
            {% endif %}
        </h1>
    </div>

    {% ifequal num_categories 0 %}
        {% if unapproved %}
            <h3>All categories are approved.</h3>
        {% else %}
            <h3>No categories are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "category-create" project_slug %}'>create one</a>.</h3>
        {% endif %}
    {% endifequal %}

    {% if user.is_authenticated and user.is_staff %}
        <ul id="sortable" data-url="{% url "category-submit-order" project_slug %}">
    {% else %}
        <ul>
    {% endif %}

    {% for category in categories %}
        <li class="row order" style="margin-top:10px;" id="{{ category.id }}-{{ category.name }}">
            <div class="col-lg-10">
                <h4>{{ category.name }}</h4>
            </div>
            <div class="col-lg-2">
                <div class="btn-group pull-right">
                    {%  if not category.approved and user.is_staff %}
                        <a class="btn btn-default btn-mini"
                           href='{% url "category-approve" project_slug=category.project.slug slug=category.slug %}'>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                    {% endif %}
                    <a class="btn btn-default btn-mini"
                       href='{% url "category-delete" project_slug=category.project.slug slug=category.slug %}'>
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    <a class="btn btn-default btn-mini"
                       href='{% url "category-update" project_slug=category.project.slug slug=category.slug %}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default btn-mini"
                       href='{% url "category-detail" project_slug=category.project.slug slug=category.slug %}'>
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </div>
            </div>
        </li>
    {%  endfor %}

    </ul>
    <hr />

    <script>

    </script>

{% endblock %}
