{% extends "project_base.html" %}
{% load thumbnail %}

{% block title %}Categories - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Categories (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            <span class="glyphicon glyphicon-sort-by-order"></span> Order Categories
            <span id="order-saved" hidden class="alert alert-success" style="font-size: 9pt; padding: 3px;font-style: italic;">
                order saved</span>
            <span id="order-not-saved" hidden class="alert alert-danger" style="font-size: 9pt; padding: 3px;font-style: italic;">
                order not saved</span>
            <div class="pull-right btn-group" style="margin-top: 5px;">
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "category-list" project_slug %}'
                   data-title="Category List">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </div>
        </h1>
    </div>
    {% ifequal num_categories 0 %}
        <h3>No categories are defined, but you can</h3>
    {% endifequal %}
    <ul id="sortable" data-url="{% url "category-submit-order" project_slug %}">
    {% for category in categories %}
        <li class="row order" style="margin-top:6px;" id="{{ category.id }}-{{ category.name }}" >
            <div class="col-lg-1" style="padding-top: 10px;">
                {% if category.image_file %}
                    <a href="{{ category.image_file.url }}">
                        <img class="img-responsive img-rounded pull-right"
                             src="{% thumbnail category.image_file 50x50 crop %}" />
                    </a>
                {%  endif %}
            </div>
            <div class="col-lg-12">
                <p>
                    <span class="glyphicon glyphicon-menu-hamburger" style="margin-right: 20px"></span>
                    {{ category.name }}
                </p>
            </div>
        </li>
    {%  endfor %}
    </ul>
    <hr />

{% endblock %}

