{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% block title %}Sponsorship Levels - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Sponsorship levels (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Sponsorship Levels
            {% if user.is_authenticated %}
                {% if user.is_staff or user == project.owner or user in project.sponsorship_managers.all %}
                    <div class="pull-right btn-group">
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "sponsorshiplevel-create" project_slug %}'
                           data-title="Create New Sponsorship Level">
                            {% show_button_icon "add" %}
                        </a>
                {% endif%}
                {% if not unapproved %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "pending-sponsorshiplevel-list" project_slug %}'
                       data-title="View Pending Sponsorship level">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                {% endif %}
                </div>
            {% endif %}
        </h1>
    </div>
    {% ifequal num_sponsorshiplevels 0 %}
        {% if unapproved %}
            <h3>All sponsorship level are approved.</h3>
        {% else %}
            <h3>No sponsorship level are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "sponsorshiplevel-create" project_slug %}'>create one</a>.</h3>
        {% endif %}
    {% endifequal %}

    {% for sponsorshiplevel in sponsorshiplevels %}
        <script>console.debug("{{ sponsorshiplevel }}");</script>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-1">
                {% if sponsorshiplevel.logo %}
                    <a href="{{ MEDIA_URL }}{{ sponsorshiplevel.logo }}">
                        <img class="img-responsive img-rounded pull-right"
                             src="{% thumbnail sponsorshiplevel.logo 50x50 crop %}"/>
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-9">
                <h3>{{ sponsorshiplevel.name }}</h3>

                <h5>{{ sponsorshiplevel.project.name }} - ({{ sponsorshiplevel.value }} {{ sponsorshiplevel.currency }})</h5>
            </div>
            <div class="col-lg-2">
                <div class="btn-group pull-right">
                    {% if not sponsorshiplevel.approved %}
                        {% if user.is_staff or user == project.owner or user in project.sponsorship_managers.all %}
                            <a class="btn btn-default btn-mini"
                               href='{% url "sponsorshiplevel-approve" project_slug=sponsorshiplevel.project.slug slug=sponsorshiplevel.slug %}'>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </a>
                            <a class="btn btn-default btn-mini"
                               href='{% url "sponsorshiplevel-delete" project_slug=sponsorshiplevel.project.slug slug=sponsorshiplevel.slug %}'>
                                {% show_button_icon "delete" %}
                            </a>
                            <a class="btn btn-default btn-mini"
                               href='{% url "sponsorshiplevel-update" project_slug=sponsorshiplevel.project.slug slug=sponsorshiplevel.slug %}'>
                                {% show_button_icon "update" %}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if not unapproved %}
                        <a class="btn btn-default btn-mini"
                           href='{% url "sponsorshiplevel-detail" project_slug=sponsorshiplevel.project.slug slug=sponsorshiplevel.slug %}'>
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr/>
    {% include "_pagination.html" %}
{% endblock %}
