{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Add Certificate</h1>
{% endblock page_title %}

{% block content %}

    <div class="col-lg-10">
    <div class="container">
        <h3>Are you sure you want to add a certificate for {{ attendee }}?</h3>
        <h4>Course: {{ course.name }}</h4>
    </div>


    <section id="forms">
        <div class='container' style="margin-top: 30px">
            {% csrf_token %}
            {% crispy form %}
            {% for form in inlines %}
                {% crispy form %}
            {% endfor %}
        </div>
    </section>
    </div>

    <div class="col-lg-2" style="margin-top: 20px">
        <a class="btn btn-default btn-sm tooltip-toggle"
           href='{% url 'course-detail' project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
           data-title="Cancel">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </div>
{% endblock %}
