{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Course Type - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certificate Details</h1>
{% endblock page_title %}

{% block content %}

    {% if certificate %}
        <div class="row" style="text-align: center">
            <h1>Certificate Details</h1>
            <h3>ID: {{ certificate.certificateID }}</h3>
        </div>

        <div class="row" style="text-align: center; font-size: 14pt; color: grey">
            Attendee : {{ certificate.attendee }}<br/>
            Course : {{ certificate.course.name }}<br/>
        </div>
    {% else %}
        <div class="row" style="text-align: center; margin-top: 60px">
        <span class="glyphicon glyphicon-remove" style="color: red; font-size: 40pt"></span>
        <h3>Sorry, no certificate matching this number has been issued.</h3><br>
        <a class="btn btn-default btn-mini" href="{% url 'validate-certificate' project_slug %}" style="font-weight: 600">Search another certificate</a>
        </div>
    {% endif %}

{% endblock %}
