{% extends "project_base.html" %}
{% load custom_markup %}
{% load static %}

{% block title %}Course Type - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certificate Details</h1>
{% endblock page_title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  {% if certificate %}
    <div class="row" style="text-align: center">
        <h1>Certificate Details</h1>
    </div>

    <div class="certificate-header-details" style="background-color: #bcfcb0; margin-top: 20px; text-align: center;">
        <h3>ID: {{ certificate.certificateID }}
            <span class="glyphicon glyphicon-ok-circle tooltip-toggle"
                  style="font-size: 14pt; color: #2aa36e"
                  data-title="Verified"></span></h3>
    </div>

    <div class="certificate-details">
    <table style="margin: 0 auto;">
        <tr><td class="td-title">Attendee Name </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.attendee }}</td></tr>
        <tr><td class="td-title">Project </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.certifying_organisation.project }}</td></tr>
        <tr><td class="td-title">Certifying Organisation </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.certifying_organisation.name }}</td></tr>
        <tr><td class="td-title">Training Center </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.training_center }}</td></tr>
        <tr><td class="td-title">Course Language </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.language }}</td></tr>
        <tr><td class="td-title">Trained Competence(s) </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.trained_competence }}</td></tr>
        <tr><td class="td-title">Course Type </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.course_type }}</td></tr>
        <tr><td class="td-title">Course Date </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.start_date }} to {{ certificate.course.end_date }}</td></tr>
        <tr><td class="td-title">Instruction hours </td> <td class="top-vertical">&nbsp;:&nbsp;</td> <td>{{ certificate.course.course_type.instruction_hours }}</td></tr>
        <tr><td class="td-title">Course Convener</td> <td class="top-vertical">&nbsp;:&nbsp;</td>
            {% if certificate.course.course_convener.user.first_name  %}
            <td>{{ convener_name }}</td>
            {% else %}
            <td>{{ certificate.course.course_convener.user }}</td>
            {% endif %}
        </tr>
        <tr><td class="td-title"> </td>
            <td class="top-vertical">&nbsp;&nbsp;
        </tr>
    </table>
    <div class="">
         <a href="{% url 'about' certificate.course.certifying_organisation.project.slug %}"
            style="padding-left: 150pt; padding-bottom: 12pt;">
            Read more about the certification system
        </a>
        </div>
    </div>
    {% else %}
        <div class="row" style="text-align: center; margin-top: 60px">
        <span class="glyphicon glyphicon-remove" style="color: red; font-size: 40pt"></span>
        <h3>Sorry, no certificate matching this number has been issued.</h3><br>
        <a class="btn btn-default btn-mini" href="{% url 'validate-certificate' project_slug %}" style="font-weight: 600">Search another certificate</a>
        </div>
    {% endif %}


{% endblock %}
