{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Send email</h1>
{% endblock page_title %}

{% block content %}
    <style>
        .container-checkmark {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

            /* remove the browser's default checkbox */
        .container-checkmark input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        /* add a nice looking checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
            margin-left: 12px;
          background-color: #eee;
        }

        /* On mouse-hover over checkbox, grey background */
        .container-checkmark:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container-checkmark input:checked ~ .checkmark {
          background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .container-checkmark input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 8px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .container {
            margin-left: 45pt;
        }

        table {
            border: 1px solid #f5f5f5;
            font-size: 12pt;
            margin-left: 25%;
        }
        #issue-all {
            margin-left: 46.6%;
            margin-top: 4px;
            position: absolute;

         background-color: #2196F3;
        }
        table, tr, td, th {
            padding: 5px 25px;
            text-align: center;
        }
    </style>

    <div>
        <div class="container">
            <h4 style="font-size: 16pt; margin-left: 20%">Are you sure you want to issue all certificates in this course?</h4>
            <div class="row">
                <div class="col-lg-12">
                <h4>Course: {{ course.certifying_organisation.project }} - {{ course.course_type.name }} ({{ course.start_date }} to {{ course.end_date }})</h4>
                <table>
                <tr>
                <th>Attendee</th>
                <th>Issue</th>
                </tr>
                        {% for attendee in all_attendees %}
{#                        {% for key, value in certificates.items %}#}
{#                            {% if attendee.attendee.pk in attendees %}#}
{#                            {% if attendee.attendee.pk in certificates %}#}
                            <tr><td>{{ attendee }} </td>
                                <td>
                                    <label class="container-checkmark">
{#                                        {% if value.is_paid == False %}#}
                                        <input type="checkbox" checked="checked">
{#                                        {% else %}#}
{#                                            <input type="checkbox">#}
{#                                        {% endif %}#}
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
{#                            {% endif %}#}
{#                            {% endif %}#}
                         {% endfor %}
                </table>
                </div>
            </div>
             <form id="issue-all" action="." method="POST">
                 {% csrf_token %}
                 <input type="submit" value="Confirm issue all checked"
                         class="btn
                 btn-primary">
             </form>
        </div>
    </div>
{% endblock %}