{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Send email</h1>
{% endblock page_title %}

{% block content %}
    <style>
            .container {
                margin-left: 45pt;
            }

            table {
                border: none;
                font-size: 12pt;
                margin-left: 28%;
                counter-reset: rowNumber;
            }

            #issue-all {
                margin-left: 30%;
                margin-top: 5px;
                position: absolute;
                background-color: #2196F3;
            }

             table tr {
                counter-increment: rowNumber;
            }

              table tr td:first-child::before {
                content: counter(rowNumber);
                min-width: 2em;
                margin-right: 1em;
            }

            table, tr, td, th {
                padding: 5px 25px;
                text-align: center;
            }
    </style>

    <div>
        <div class="container">
            <h4 style="font-size: 16pt; margin-left: 20%">Are you sure you want to issue all certificates in this course?</h4>
            <div class="row">
                <div class="col-lg-12">
                <h4>Course: {{ course.certifying_organisation.project }} - {{ course.course_type.name }} ({{ course.start_date }} to {{ course.end_date }})</h4>
                <table>
                <tr>
                <th>First Name</th>
                <th>Last Name</th>
                </tr></table><table>
                        {% for attendee in uncertified_attendees %}
                            <tr id="tr"><td>{{ attendee.firstname }}</td>
                                <td>{{ attendee.surname }}</td>
                            </tr>
                         {% endfor %}
                </table>
                </div>
            </div>
             <form id="issue-all" action="." method="POST">
                 {% csrf_token %}
                 <input type="submit" value="Confirm issue all"
                         class="btn
                 btn-primary">
             </form>
        </div>
    </div>
{% endblock %}