{% load custom_markup %}
{% load thumbnail %}
<h4 class="text-muted">
    Administrator
    <a href="{% url 'administrator-create' project_slug=project.slug %}"
       class="btn btn-default pull-right btn-sm tooltip-toggle"
       data-title="Assign New Administrator">
        {% show_button_icon "add" %}
    </a>
</h4>
<hr/>
{% if project.administrators %}
    {% for administrator in project.administrators %}
        <div style="margin: 0 0 10px">
            <strong style="cursor: default"
                    {% if administrator.user.email %}
                    data-toggle="tooltip" title="{{ administrator.user.email }}"
                    {% endif %}
            >
                <span class="text-muted">User:</span> {{ administrator.user.username }}
            </strong>
            <div class="btn-group pull-right" style="margin-top: -3px;">
                <a href="{% url 'administrator-delete' pk=administrator.pk %}"
                   class="btn btn-default btn-xs tooltip-toggle"
                   data-placement="top"
                   data-title="Delete {{ administrator.user.username }} as administrator of {{ project.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    No administrator found
{% endif %}