-r REQUIREMENTS.txt

django-nose==1.1
coverage==3.6
nose-exclude==0.1.9
pep8==1.4.5
pylint==0.28.0

# git+https://github.com/kmmbvnr/django-jenkins.git@2f241bb6b7a111172f1e5bd26a1d21815f83d1e7

django-devserver==0.6.2

# documentation
Sphinx==1.2b1

# nicer python interpreter
bpython==0.12

# pdb plus plus
pdbpp==0.7.2
