{% extends "project_base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block js_head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.google').html($('.google-button'));
            $('a.github').html($('.github-button'));
        });
    </script>
{% endblock %}

{% block title %}Connections{% endblock %}

{% block container %}
    <div class="content">
        {% block content %}

            {% csrf_token %}
            <div class="container">

                <div class="custom-form-container">
                    <h1>{% trans "Account Connections" %}</h1>

                    {% if form.accounts %}

                        <p>
                            {% blocktrans %}
                                You can sign in to your account using any of the following third party accounts:
                            {% endblocktrans %}
                        </p>

                        <form method="POST" action="{% url 'socialaccount_connections' %}">
                            {% csrf_token %}

                            <fieldset>
                                {% if form.non_field_errors %}
                                    <div id="errorMsg">{{ form.non_field_errors }}</div>
                                {% endif %}

                                {% for base_account in form.accounts %}
                                    {% with base_account.get_provider_account as account %}
                                        <div>
                                            <label for="id_account_{{ base_account.id }}">
                                                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                                                {{ account }}
                                            </label>
                                        </div>
                                    {% endwith %}
                                {% endfor %}


                                <div>
                                    <button class="login custom-form-submit" type="submit">{% trans "Remove" %}</button>
                                </div>

                            </fieldset>
                        </form>

                    {% else %}

                        <p>
                            {% trans 'You currently have no social network accounts connected to this account.' %}
                        </p>

                    {% endif %}

                    <hr>
                    <h1>{% trans 'Add a 3rd Party Account' %}</h1>
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
                    </ul>
                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            </div> <!-- /container -->
            </div>

            <div class="github-button" hidden>
                <img src="{% static "img/github.png" %}" />
                <div class="text-button">Add GitHub Account</div>
            </div>
            <div class="google-button" hidden>
                <img src="{% static "img/google.png" %}" />
                <div class="text-button">Add Google Account</div>
            </div>
        {% endblock %}
{% endblock %}