{% extends "project_base.html" %}

{% block container %}
    <div class="content">
        {% block content %}

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% csrf_token %}
            <div class="container">

                <form class="form-signin" action="{% url 'user-login' %}" method="post" id="login-form">{% csrf_token %}
                    <h2 class="form-signin-heading">{{ message }}</h2>
                    <label for="id_username" class="sr-only">Email address</label>
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="User Name" required autofocus>
                    <label for="id_password" class="sr-only">Password</label>
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                </form>

            </div> <!-- /container -->
            </div>
        {% endblock %}
{% endblock %}
