{% extends "project_base.html" %}
{% load staticfiles %}
{% load custom_markup %}
{% load staticfiles %}

{% block title %}Certifying Organisation - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certifying Organisation (all)</h1>
{% endblock page_title %}

{% block js_head %}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/organisation_detail.css' %}">
    <script>
        var map;
        var lat;
        var long;

        $(document).ready(function () {
             $.getJSON('{{ STATIC_URL }}/static/json/geo.json', function (json) {
                // Get geo json object with the same country code from certifying organisation
                var geo_obj = $.grep(json['features'], function (e) {
                        return e.properties.ISO2 == '{{ certifyingorganisation.country }}';
                    });

                // Put marker of the country on the map
                lat = geo_obj[0].properties.LAT;
                long = geo_obj[0].properties.LON;

                // Add map
                $('#map').css({'height': 400, 'width': 800});
                map = L.map('map').setView([lat, long], 4);
                L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                    attribution:  '&copy; <a href="http://www.openstreetmap.org/copyright">'+
                                    'OpenStreetMap</a>, Tiles courtesy of '+
                                    '<a href="http://hot.openstreetmap.org/" target="_blank">'+
                                    'Humanitarian OpenStreetMap Team</a>'
                }).addTo(map);

                addMarkers();
                addLegend();
             });

            function addMarkers() {
            var green_icon = L.icon({
                            iconUrl: '/static/img/marker_green.png',
                            iconSize:     [30, 40],
                            iconAnchor:   [14, 39],
                            popupAnchor:  [0, -30]
                        });

            {% for training_center in trainingcenters %}
                var marker = L.marker(
                   [{{ training_center.location.y }}, {{ training_center.location.x }}],{
                        icon: green_icon
                    }
               ).addTo(map).bindPopup('{{ training_center.name }}');
            {% endfor %}
            }

            function addLegend() {
                var legend = L.control({position: 'bottomleft'});
                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info legend');
                    div.innerHTML = '<img src="/static/img/marker_green.png" height=20px><span> Training center</span>';
                return div;
                };
                legend.addTo(map);
            }

        });

    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <h1>{{ certifyingorganisation.name }}</h1><br/>
        </div>

        {# Only organisation owners or staff can edit #}
        <div class="col-lg-2">

            <div class="pull-right">
            <span class="glyphicon glyphicon-info-sign tooltip-toggle"
                  style="font-size: 14pt; padding: 7px; color: #4f74af; display: inline-block; vertical-align: middle"
                  data-title="Hover to the container to see action buttons">
            </span>


            <div class="btn-group">
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
                <a class="btn btn-default btn-mini btn-delete tooltip-toggle"
                   href='{% url "certifyingorganisation-delete" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                   data-title="Delete {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "certifyingorganisation-update" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                   data-title="Edit {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                 <a class="btn btn-default btn-mini tooltip-toggle"
                    href='{% url "certifyingorganisation-list" certifyingorganisation.project.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
            </div>
        </div>
    </div>

    <div class="container row">
    <div class="details col-lg-5" style="margin-bottom: 20px">
        <span class="grey-italic col-lg-4">Organisation name</span><span class="col-lg-8">{{ certifyingorganisation.name }}</span><br/>
        <span class="grey-italic col-lg-4">Address</span><span class="col-lg-8">{{ certifyingorganisation.address }}</span><br/>
        <span class="grey-italic col-lg-4">Country</span><span class="col-lg-8">{{ certifyingorganisation.country.name }}</span><br/>
        <span class="grey-italic col-lg-4">Email</span><span class="col-lg-8">{{ certifyingorganisation.organisation_email }}</span><br/>
        <span class="grey-italic col-lg-4">Phone</span><span class="col-lg-8">{{ certifyingorganisation.organisation_phone }}</span><br/>
        <span class="grey-italic col-lg-4">Organisation owners</span>
        <span class="col-lg-8">{% for organisation_owners in certifyingorganisation.organisation_owners.all %}
        {% if organisation_owners.first_name %}
            {{ organisation_owners.first_name }} {{ organisation_owners.last_name }}{{ ", " }}
        {% else %}
            {{ organisation_owners }}{{ ", " }}
        {% endif %}
        {% endfor %}</span><br/>
    </div>

    <div>
    <div class="col-lg-2 pull-right" style="padding-right: 0">
        <h4 class="panel-heading" style="padding-left:0; padding-right: 0">
            Training Centers</h4>
        <h3 class="panel-body">{{ num_trainingcenter }}</h3>
    </div>

    <div class="col-lg-2 pull-right">
        <h4 class="panel-heading">Attendees</h4>
        <h3 class="panel-body">{{ num_attendees }}</h3>
    </div>
    </div>
    </div>

    <div class="course-details">
    <div class="menu-wrapper menu-wrapper-head">
    <table>
    <tr>
        <th>
        <h2 class="custom-heading">Courses</h2>
        </th>

        <td>
        {# Organisation owners, staffs and course convener can edit/add course #}
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
            <div class="button1 button-action" style="display: none; margin-top: -25px; margin-bottom: 20px;">
            <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'
               data-title="Create New Course">
                {% show_button_icon "add" %}
            </a>
            </div>
            </div>
        {% else %}
            {% for courseconvener in courseconveners %}
                {% if user == courseconvener.user %}
                        <div class="button1 button-action" style="display: none; margin-top: -25px; margin-bottom: 20px;">
                        <div class="btn-group pull-right">
                            <a class="btn btn-default btn-sm tooltip-toggle"
                                href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'
                                data-title="Create New Course Convener">
                                {% show_button_icon "add" %}
                            </a>
                        </div>
                        </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </td>
    </tr>
    </table>
    </div>

    <div class="menu-wrapper menu-wrapper-body" style="padding: 25px">
    <tr><td>
    {% ifequal num_course 0 %}
    <div class="menu-details">
    <table>
    <tr><td>
        <h5>No courses are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'>create one</a>.</h5>
    </td></tr>
    </table>
    </div>
    {% else %}

    <table class="course" style="width: 100%;">
    <tr>
        <th style="width: 43%">Course Name</th>
        <th style="width: 25%">Training Center</th>
        <th>Course Convener</th>
        <th class="button-action" style="display: none; text-align: right; padding-right: 0">Actions</th>

    </tr>

    {% for course in courses %}
        <tr style="list-style-type: none; margin-left: 20px; margin-top: 10px;">
        <td id="{{ course.id }}-{{ course.name }}">
                {{ course.course_type.name }} ({{ course.start_date }} to {{ course.end_date }})
        </td>
        <td id="{{ course.id }}-{{ course.training_center.name }}">
                {{ course.training_center.name }}
        </td>
        <td id="{{ course.id }}-{{ course.course_convener.user }}">
            {% if course.course_convener.user.first_name %}
                {{ course.course_convener.user.first_name }} {{ course.course_convener.user.last_name }}
            {% else %}
                {{ course.course_convener.user }}
            {% endif %}
        </td>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <td style="padding-right: 0">
             <div class="btn-group pull-right button-action" style="display: none;">
                <a class="btn btn-default btn-xs btn-delete tooltip-toggle"
                   href='{% url "course-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                   data-title="Delete">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "course-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                   data-title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                 <a class="btn btn-default btn-xs btn-view tooltip-toggle"
                    href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                    data-title="View">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
        </td>
        {% elif user == course.course_convener.user %}
            <td style="padding-right: 0">
                <div class="btn-group pull-right button-action" style="display: none;">
                    <a class="btn btn-default btn-xs btn-delete tooltip-toggle"
                        href='{% url "course-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                        data-title="Delete">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    <a class="btn btn-default btn-xs tooltip-toggle"
                        href='{% url "course-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                        data-title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default btn-xs btn-view tooltip-toggle"
                        href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                        data-title="View">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </div>
            </td>
        {% else %}
            <td style="padding-right: 0">
                <div class="btn-group pull-right button-action" style="display: none;">
                    <a class="btn btn-default btn-xs btn-view tooltip-toggle"
                        href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                        data-title="View">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </div>
            </td>
        {% endif %}
        </tr>
    {%  endfor %}

    </table>
    {% endifequal %}
    </div>
    </div>

    <div class="map-wrapper" style="horiz-align: center;">
        <div id="map"></div>
    </div>

    <div class="panel-to-wrap col-md-4">
    <div class="menu-wrapper menu-wrapper-head">
    <table style="width: 100%;">

    <tr style="margin-top: 0">
    <th style="margin-top: 0;">
        <h2 class="custom-heading">Training Centers</h2>
    </th>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <td>
            <div class="button1 button-action" style="display: none; margin-top: -30px; margin-bottom: 20px;">
            <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url "trainingcenter-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
               data-title="Create New Training Center">
                {% show_button_icon "add" %}
            </a>
            </div>
        </div>
        </td>
        {% endif %}
    </tr>
    </table>
    </div>

    <div class="menu-wrapper menu-wrapper-body">
    <div class="menu-details">
    <table>
    <tr><td>
    {% ifequal num_trainingcenter 0 %}
        <h5>No training center are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "trainingcenter-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>register one</a>.</h5>
    {% endifequal %}
    </td></tr>

    {% for trainingcenter in trainingcenters %}
        <tr>
        <td class="list"><div class="col-lg-10">
                <a href="{% url 'trainingcenter-detail' certifyingorganisation.project.slug certifyingorganisation.slug trainingcenter.slug %}">
                    {{ trainingcenter.name }}</a>
        </div></td>

        <td class="button">
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <div>
            <div class="btn-group button-action" style="display: none">
                <a class="btn btn-default btn-xs btn-delete tooltip-toggle"
                   href='{% url "trainingcenter-delete" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-title="Delete {{ trainingcenter.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "trainingcenter-update" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-title="Edit {{ trainingcenter.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
        {% endif %}
        </td>
        </tr>
    {%  endfor %}
    </table>
    </div>
    </div>
    </div>

    <div class="panel-to-wrap col-md-4">
    <div class="menu-wrapper menu-wrapper-head">
    <table style="width: 100%;">
    <tr>
        <th >
        <h2 class="custom-heading">Course Types</h2>
        </th>

        <td>
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <div class="button1 button-action" style="display: none; margin-top: -30px; margin-bottom: 20px;">
            <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url 'coursetype-create' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
               data-title="Create New Course Type">
                {% show_button_icon "add" %}
            </a>
            </div>
        </div>
        {% endif %}
        </td>
    </tr>
    </table>
    </div>

    <div class="menu-wrapper menu-wrapper-body">
    <div class="menu-details">
    <table>
    <tr><td>
    {% ifequal num_coursetype 0 %}
        <h5>No course types are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url 'coursetype-create' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>create one</a>.</h5>
    {% endifequal %}
    </td></tr>

    {% for coursetype in coursetypes %}
        <tr><td class="list">
        <div class="col-lg-10">
                <a href="{% url 'coursetype-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=coursetype.slug %}">
                    {{ coursetype.name }}</a>
        </div></td>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <td>
            <div class="btn-group pull-right button-action" style="display: none">
                <a class="btn btn-default btn-xs btn-delete tooltip-toggle"
                   href='{% url "coursetype-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=coursetype.slug %}'
                   data-title="Delete {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "coursetype-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=coursetype.slug %}'
                   data-title="Edit {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </td>
        {% endif %}
        </tr>
    {%  endfor %}
    </table>
    </div>
    </div>
    </div>

    <div class="panel-to-wrap col-md-4">
    <div class="menu-wrapper menu-wrapper-head">
    <table>
    <tr>
    <th>
        <h2 class="custom-heading">Course Conveners</h2>
    </th>
    <td>
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <div class="button1 button-action" style="display: none; margin-top: -30px; margin-bottom: 20px">
            <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url "courseconvener-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
               data-title="Create New Course Convener">
                {% show_button_icon "add" %}
            </a>
            </div>
        </div>
        {% endif %}
    </td>
    </tr>
    </table>
    </div>

    <div class="menu-wrapper menu-wrapper-body">
    <div class="menu-details">
    <table>
    <tr><td>
    {% ifequal num_courseconvener 0 %}
        <h5>No course convener are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "courseconvener-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>register one</a>.</h5>
    {% endifequal %}
    </td></tr>

    {% for courseconvener in courseconveners %}
        <tr>
        <td class="list">
        <div class="col-lg-10">
            {% if courseconvener.user.first_name %}
                {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }}
            {% else %}
                {{ courseconvener.user }}
            {% endif %}
        </div>
        </td>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner %}
        <td>
            <div class="btn-group pull-right button-action" style="display: none">
                <a class="btn btn-default btn-xs btn-delete tooltip-toggle"
                   href='{% url "courseconvener-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=courseconvener.slug %}'
                   data-title="Delete {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }} <{{ courseconvener.user }}>">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "courseconvener-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=courseconvener.slug %}'
                   data-title="Edit {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }} <{{ courseconvener.user }}>">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </td>
        {% endif %}
        </tr>
    {%  endfor %}
    </table>
    </div>
    </div>
    </div>

    <script>
        $('.btn-delete').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-danger')
            },
            function (){
                $(this).removeClass('btn-danger').addClass('btn-default')
            }
        );
        $('.btn-view').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-primary')
            },
            function (){
                $(this).removeClass('btn-primary').addClass('btn-default')
            }
        );
        $('.panel-to-wrap').hover(
            function () {
                $(this).find('.button-action').show();
            },
             function () {
                $(this).find('.button-action').hide();
            }
        );
        $('.course-details').hover(
            function () {
                $(this).find('.button-action').show();
            },
             function () {
                $(this).find('.button-action').hide();
            }
        )
    </script>
{% endblock %}

