{% extends "project_base.html" %}
{% load staticfiles %}
{% load custom_markup %}

{% block title %}Certifying Organisation - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certifying Organisation (all)</h1>
{% endblock page_title %}

{% block js_head %}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/organisation_detail.css' %}">
    <script>
        var map;
        var marker;

        $(document).ready(function () {

            // Add map
            $('#map').css({'height': 400, 'width': 800});
            map = L.map('map').setView([40, 0], 2);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(map);

            $.getJSON('{{ STATIC_URL }}/static/json/geo.json', function (json) {

                // Get geo json object with the same country code from certifying organisation
                var geo_obj = $.grep(json['features'], function (e) {
                        return e.properties.ISO2 == '{{ certifyingorganisation.country }}';
                    });

                // Put marker of the country on the map
                var lat = geo_obj[0].properties.LAT;
                var long = geo_obj[0].properties.LON;
                marker = L.marker( [ lat,long ] ).addTo( map );
            })

        })

    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <h1>{{ certifyingorganisation.name }}</h1><br/>
        </div>

        {# Only organisation owners or staff can edit #}
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "certifyingorganisation-delete" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                   data-title="Delete {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "certifyingorganisation-update" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                   data-title="Edit {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                 <a class="btn btn-default btn-sm tooltip-toggle"
                    href='{% url "certifyingorganisation-list" certifyingorganisation.project.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="details">
        <span class="grey-italic">Organisation Name : </span><span>{{ certifyingorganisation.name }}</span><br/>
        <span class="grey-italic">Address : </span><span>{{ certifyingorganisation.address }}</span><br/>
        <span class="grey-italic">Country : </span><span>{{ certifyingorganisation.country.name }}</span><br/>
        <span class="grey-italic">Email : </span><span>{{ certifyingorganisation.organisation_email }}</span><br/>
        <span class="grey-italic">Phone : </span><span>{{ certifyingorganisation.organisation_phone }}</span><br/>
        <span class="grey-italic">Organisation owners : </span><span>{% for organisation_owners in certifyingorganisation.organisation_owners.all %}{{ organisation_owners }}{{ ", " }}{% endfor %}</span><br/>
    </div>

    <div class="map-wrapper">
        <div id="map"></div>
    </div>

    <div class="menu-wrapper">
    <table style="width: 100%;">

    <tr style="margin-top: 0">
    <th style="margin-top: 0">
        <h2 style="margin-top: -15px;">Training Centers</h2>
    </th>
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <td class="button1" style="margin-top: -25px;"><div>
            <div class="btn-group">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url "trainingcenter-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
               data-title="Create New Training Center">
                {% show_button_icon "add" %}
            </a>
            </div>
        </div></td>
        {% endif %}
    </tr>
    <tr><td>
    {% ifequal num_trainingcenter 0 %}
        <h5>No training center are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "trainingcenter-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>register one</a>.</h5>
    {% endifequal %}
    </td></tr>

    {% for trainingcenter in trainingcenters %}
        <tr>
        <td class="list"><div class="col-lg-10">
                <a href="{% url 'trainingcenter-detail' certifyingorganisation.project.slug certifyingorganisation.slug trainingcenter.slug %}">
                    {{ trainingcenter.name }}</a>
        </div></td>

        <td class="button">
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <div>
            <div class="btn-group">
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "trainingcenter-delete" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-title="Delete {{ trainingcenter.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "trainingcenter-update" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-title="Edit {{ trainingcenter.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
        {% endif %}
        </td>
        </tr>
    {%  endfor %}
    </table>
    </div>

    <div class="menu-wrapper">
    <table style="width: 100%;">
    <tr>
        <th >
        <h2 style="margin-top: -15px">Course Types</h2>
        </th>

        <td>
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <div class="button1" style="margin-top: -25px">
            <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url 'coursetype-create' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
               data-title="Create New Course Type">
                {% show_button_icon "add" %}
            </a>
            </div>
        </div>
        {% endif %}
        </td>
    </tr>

    <tr><td>
    {% ifequal num_coursetype 0 %}
        <h5>No course types are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url 'coursetype-create' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>create one</a>.</h5>
    {% endifequal %}
    </td></tr>

    {% for coursetype in coursetypes %}
        <tr><td class="list">
        <div class="col-lg-10">
                <a href="{% url 'coursetype-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=coursetype.slug %}">
                    {{ coursetype.name }}</a>
        </div></td>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "coursetype-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=coursetype.slug %}'
                   data-title="Delete {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "coursetype-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=coursetype.slug %}'
                   data-title="Edit {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </td>
        {% endif %}
        </tr>
    {%  endfor %}
    </table>
    </div>

    <div class="menu-wrapper">
    <table>
    <tr>
    <th>
        <h2 style="margin-top: -15px">Course Conveners</h2>
    </th>
    <td>
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <div class="button1" style="margin-top: -25px">
            <div class="btn-group pull-right">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url "courseconvener-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
               data-title="Create New Course Convener">
                {% show_button_icon "add" %}
            </a>
            </div>
        </div>
        {% endif %}
    </td>
    </tr>
    <tr><td>
    {% ifequal num_courseconvener 0 %}
        <h5>No course convener are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "courseconvener-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>register one</a>.</h5>
    {% endifequal %}
    </td></tr>

    {% for courseconvener in courseconveners %}
        <tr>
        <td class="list">
        <div class="col-lg-10">
                {{ courseconvener.user }}
        </div>
        </td>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "courseconvener-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=courseconvener.slug %}'
                   data-title="Delete {{ courseconvener.user }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "courseconvener-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=courseconvener.slug %}'
                   data-title="Edit {{ courseconvener.user }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </td>
        {% endif %}
        </tr>
    {%  endfor %}
    </table>
    </div>

    <div class="menu-wrapper">
    <table>
    <tr>
        <th>
        <h2 style="margin-top: -15px">Courses</h2>
        </th>

        <td>
        {# Organisation owners, staffs and course convener can edit/add course #}
        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
            <div class="button1" style="margin-top: -25px">
            <a class="btn btn-default btn-sm tooltip-toggle"
               href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'
               data-title="Create New Course">
                {% show_button_icon "add" %}
            </a>
            </div>
        {% else %}
            {% for courseconvener in courseconveners %}
                {% if user == courseconvener.user %}
                        <div class="button">
                            <a class="btn btn-default btn-sm tooltip-toggle"
                                href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'
                                data-title="Create New Course Convener">
                                {% show_button_icon "add" %}
                            </a>
                        </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </td>
    </tr>
    <tr><td>
    {% ifequal num_course 0 %}
        <h5>No courses are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'>create one</a>.</h5>
    {% else %}
    </td></tr>
    </table>
    <table class="course" style="width: 100%; margin-top: 15px">
    <tr>
        <th style="width: 47%">Course Name</th>
        <th style="width: 25%">Training Center</th>
        <th>Course Convener</th>
        <th style="text-align: right">Actions</th>

    </tr>

    {% for course in courses %}
        <tr style="list-style-type: none; margin-left: 20px; margin-top: 10px;">
        <td id="{{ course.id }}-{{ course.name }}">
                {{ course.name }}
        </td>
        <td id="{{ course.id }}-{{ course.training_center.name }}">
                {{ course.training_center.name }}
        </td>
        <td id="{{ course.id }}-{{ course.course_convener.user }}">
                {{ course.course_convener.user }}
        </td>

        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
        <td>
             <div class="btn-group pull-right">
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "course-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                   data-title="Delete">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "course-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                   data-title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                 <a class="btn btn-default btn-xs tooltip-toggle"
                    href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                    data-title="View">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
        </td>
        {% elif courseconvener in courseconveners %}
            {% for courseconvener in courseconveners %}
                {% if user == courseconvener.user %}
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-default btn-xs tooltip-toggle"
                                href='{% url "course-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                                data-title="Delete">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                            <a class="btn btn-default btn-xs tooltip-toggle"
                                href='{% url "course-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                                data-title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-default btn-xs tooltip-toggle"
                                href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                                data-title="View">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
        {% else %}
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-default btn-xs tooltip-toggle"
                        href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                        data-title="View">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </div>
            </td>
        {% endif %}
        </tr>
    {%  endfor %}

    </table>
    {% endifequal %}
{% endblock %}
</div>
