{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% block title %}Certifying Organisations - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certifying Organisations (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Certifying Organisations
            {% if user.is_authenticated %}
                <div class="pull-right btn-group">
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "certifyingorganisation-create" project_slug %}'
                       data-title="Create New Certifying Organisation">
                        {% show_button_icon "add" %}</a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "certifyingorganisation-list" project_slug %}'
                       data-title="Back">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </a>

                </div>
            {% endif %}
        </h1>
    </div>
    {% ifequal num_certifyingorganisations 0 %}
        {% if unapproved %}
            <h3>All certifying organisations are approved.</h3>
        {% else %}
            <h3>No certifying organisations are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "certifyingorganisation-create" project_slug %}'>create one</a>.</h3>
        {% endif %}
    {% endifequal %}

    {% for certifyingorganisation in certifyingorganisations %}
        <script>console.debug("{{ certifyingorganisation }}");</script>
        <script>
            function toggleDetails(id) {
                $('#'+id).children().toggle();
                $('#'+id).next().toggle();
            }
        </script>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-9">
                <h5>{{ certifyingorganisation.project.name }}</h5>

                <h3>{{ certifyingorganisation.name }}</h3>
                <p id="{{ certifyingorganisation.pk }}" style="color: grey" onclick="toggleDetails(this.id)">
                    <span style="font-size: 8pt" class="glyphicon glyphicon-triangle-right"></span>
                    <span style="font-size: 8pt; display: none" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span>Show details</span>
                    <span style="display: none">Hide details</span><br/>
                </p>
                <div style="color: grey; display: none">
                    <span class="grey-italic col-lg-4">Organisation name</span><span class="col-lg-8">{{ certifyingorganisation.name }}</span><br/>
                    <span class="grey-italic col-lg-4">Address</span><span class="col-lg-8">{{ certifyingorganisation.address }}</span><br/>
                    <span class="grey-italic col-lg-4">Country</span><span class="col-lg-8">{{ certifyingorganisation.country.name }}</span><br/>
                    <span class="grey-italic col-lg-4">Email</span><span class="col-lg-8">{{ certifyingorganisation.organisation_email }}</span><br/>
                    <span class="grey-italic col-lg-4">Phone</span><span class="col-lg-8">{{ certifyingorganisation.organisation_phone }}</span><br/>
                    <span class="grey-italic col-lg-4">Organisation owners</span>
                    <span class="col-lg-8">{% for organisation_owners in certifyingorganisation.organisation_owners.all %}
                    {% if organisation_owners.first_name %}
                        {{ organisation_owners.first_name }} {{ organisation_owners.last_name }}{{ ", " }}
                    {% else %}
                        {{ organisation_owners }}{{ ", " }}
                    {% endif %}
                    {% endfor %}</span>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="btn-group pull-right">
                    {% if not certifyingorganisation.approved and user.is_staff %}
                        <a class="btn btn-success btn-mini tooltip-toggle"
                           href='{% url "certifyingorganisation-approve" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                            data-title="Approve {{ certifyingorganisation.name }}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                    {% endif %}
                    {% if user.is_staff or user in certifyingorganisation.organisation_owners.all %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                        href='{% url "certifyingorganisation-update" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                        data-title="Edit {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "certifyingorganisation-delete" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                        data-title="Delete {{ certifyingorganisation.name }}">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr/>
    {% include "_pagination.html" %}
{% endblock %}
