{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% load sorting_tags %}
{% block title %}Certifying Organisations - {{ block.super }}{% endblock %}

{% block extra_head %}
    <style>
        .organisation-header {
            padding: 10px 5px;
            margin: 10px 0 5px;
            background-color: #EEEEEE;
        }
        .organisation-header a {
            font-size: 1.15em;
            font-weight: bold ;
            color: inherit;
        }
        .organisation-item {
            padding: 5px;
            margin: 2px 0;
            background-color: #fafafa;
        }
        .organisation-item:hover {
            background-color: #d7e5f0;
        }
        .organisation-item div{
            text-decoration: none;
            color: #333;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
{% endblock %}

{% block page_title %}
    <h1>Certifying Organisations (all)</h1>
{% endblock page_title %}

{% block content %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if 'organisation_submitted' in message.tags %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Certifying Organisations
            {% if user.is_authenticated %}
                <div class="pull-right btn-group">
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "certifyingorganisation-create" project_slug %}'
                       data-title="Create New Certifying Organisation">
                        {% show_button_icon "add" %}</a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "certifyingorganisation-rejected-list" project_slug %}'
                           data-title="View Rejected Certifying Organisations">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "certifyingorganisation-list" project_slug %}'
                       data-title="Back">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </a>
                </div>
            {% endif %}
        </h1>
    </div>
    {% ifequal num_certifyingorganisations 0 %}
        {% if unapproved %}
            <h3>All certifying organisations are approved.</h3>
        {% else %}
            <h3>No certifying organisations are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "certifyingorganisation-create" project_slug %}'>create one</a>.</h3>
        {% endif %}
    {% endifequal %}


      <div class="form-group pull-right">
        <form method="GET" action="" id="searchform">
            <input class="searchfield form-control" id="searchbox" name="q" type="text"
                   value="{{ request.GET.q }}" placeholder="Search Organisation..."/>
        </form>
    </div>
      <br/>

      <h5 class="text-muted">{{ num_certifyingorganisations }} records found</h5>
      <div class="row organisation-header">
          <div class="col-xs-6">{% sort_th "Organisation Name" "name" %}</div>
          <div class="col-xs-3">{% sort_th "Application Date" "submit_date" %}</div>
          <div class="col-xs-3">{% sort_th "Status" "remarks" %}</div>
      </div>



  <div class="infinite-container">
    {% for certifyingorganisation in certifyingorganisations %}
      <div class="infinite-item" >
          <div class="row organisation-item">
            <a href="{% url 'certifyingorganisation-review' project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}">
              <div class="col-xs-6">{{ certifyingorganisation.name }}</div>
              <div class="col-xs-3">{{ certifyingorganisation.submit_date }} </div>
              <div class="col-xs-3">{{ certifyingorganisation.status }}</div>
            </a>
          </div>
      </div>
    {% endfor %}
  </div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    {% if request.GET.sort_by %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&sort_by={{ request.GET.sort_by }}"></a>
    {% else %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });

  </script>
{% endblock %}
