{% extends "project_base.html" %}

{% block extra_js %}
{% endblock %}

{% block content %}
  <style>
    .table tbody:first-of-type tr {
      background-color: transparent;
    }
    .checklist-container {
        padding-top: 20px;
    }
    .checklist-container .btn {
        font-size: 8pt;
    }
    .checklist-container .row {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #dddddd;
    }

    .checklist-container .disabled {
        background-color: #c8c8c8;
    }
  </style>

  <div class="page-header">
    <h1 class="text-muted">Certification Management</h1>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Certificate Type</th>
      <th scope="col">Wording</th>
      <th scope="col">Apply</th>
    </tr>
    </thead>
    <tbody>
    <form action="{% url 'certificate-type-update' project_slug %}" method="post">
    {% csrf_token %}
    {% for cer_type in certificate_types %}
      <tr {% if cer_type.id in certificate_types_applied %}style="background-color: #d7e5f0" {% endif %}>
        <td>{{ cer_type.name }}</td>
        <td>{{ cer_type.wording }}</td>
        <td>
            <input type="checkbox" name="certificate_types" value="{{ cer_type.name }}"
              {% if cer_type.id in certificate_types_applied %}checked{% endif %}
            >
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <input class="btn btn-primary" type="submit" value="Save">
  </form>

  <div class="checklist-container">
    {% for checklist_row in checklist %}
        <div class="row {% if not checklist_row.approved %}disabled{% endif %}">
            <div class="col-lg-1">=</div>
            <div class="col-lg-4">{{ checklist_row.question }}</div>
            <div class="col-lg-4">{% if checklist_row.active %}<div class="btn btn-warning" {% if not checklist_row.approved %}disabled{% endif %}>Archive</div>{% else %}<div class="btn btn-success">Activate</div>{% endif %} </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
