{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Section - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Section (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="row" style="margin-bottom: 15px">
        <div class="btn-group pull-right">
            {% if user.is_staff or user == section.project.owner %}
                <a class="btn btn-default btn-mini btn-delete tooltip-toggle"
                    href=''
                    data-title="Delete {{ section.name }}">
                        <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href=''
                   data-title="Edit {{ section.name }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12 text-left">
            <h2 style="font-weight: bolder; margin-top: 0; padding-bottom: 10px;">{{ section.name }}</h2>
            <p>
                <div>
                    {{ section.notes }}
                </div>
            </p>
        </div>
    </div>
    
    <hr/>
    
    <div>
        List of worksheet for thesection goes here....
    </div>

{% endblock %}
