.menu-wrapper {
    border: 1px solid lightgrey !important;
    width: 100%;
    font-family: inherit;
    font-size: 12pt;
    line-height: 175%;
}
.menu-wrapper-head {
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f5f5f5;
}
.menu-wrapper-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.details {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 12pt;
    line-height: 175%;
    float: left;
}

.grey-italic {
    color: grey;
}
.map-wrapper {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
}
#map {
    width: 100% !important;
    height: 500px;
}
#container img {
    max-width: none !important;
}
.menu-wrapper th {
    width:900px;
    padding-top: 15px;
}
li:hover {
    background-color: #F9F9F9;
}
.list {
    padding: 0px;
    margin: 0px;
    max-width: 250px;
}
.button, .button1 {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
}
.button1 {
    padding-top: 30px;
    margin-right: 15px;
}
.course th{
    font-size: 13pt;
}

.course th, .course td{
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-right: 10px;
}
table {
    width: 100%;
}
.panel-heading {
    border: 1px solid lightgrey;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    font-size: 12pt;
}
.panel-body {
    border: 1px solid lightgrey;
    text-align: center;
    margin-top: 0;
}
.menu-details {
    padding: 15px;
}
.custom-heading {
    margin-left: 25px;
    margin-top: 0;
}
.details-wrapper{
    padding: 20px;
    border-radius: 5px;
}
.grey-italic {
    padding: 0 !important;
}

.panel-right {
    width: 12% !important;
}
.org-status {
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    line-height: 175%
}

.title {
    font-size: 14pt;
    font-weight: bold;
}

.content-container {
    padding-bottom: 5px;
}

.top-up-btn {
    height: 50px;
    font-size: 20px;
    padding-top: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.insufficient-credit {
    padding: 10px 20px;
    text-align: center;
    background: #ffc107;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.tools-container {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    justify-content: center;
}

.inline-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
}

.inline-form .form-check {
    padding-left: 20px;
}