.menu-wrapper {
    border: 1px solid lightgrey !important;
    padding: 20px !important;
    width: 100%;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    line-height: 175%;
    margin-top: 20px;
}

.details {
    border: 1px solid lightgrey;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    line-height: 175%;
}

.grey-italic {
    font-style: italic;
    color: grey;
}
.map-wrapper {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}
#map {
    width: 100% !important;
    height: 500px;
}
#container img {
    max-width: none !important;
}
.menu-wrapper th {
    width:900px;
    padding-top: 15px;
}
li:hover {
    background-color: #F9F9F9;
}
.list {
    width: 800px;
    padding: 0px;
    margin: 0px;
}
.button, .button1 {
    text-align: right;
}
.button1 {
    padding-top: 15px;
}
.course th{
    background-color: lightgrey;
}
.course table, .course th, .course td {
    border: 2px solid darkslategrey;
}
.course th, .course td{
    padding: 10px;
}
table {
    width: 100%;
}
.panel-heading {
    border: 1px solid lightgrey;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center
}
.panel-body {
    border: 1px solid lightgrey;
    text-align: center;
    margin-top: 0;
}
.menu-details {
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #fcfcfc;
}
