{% extends "project_base.html" %}
{% load markup %}

{% block title %}Committee - {{ committee.name }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block auth-nav-left %}
  <ul class="nav navbar-nav">
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <strong>{{ committee.project.name }} | {{ committee.name }}</strong>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {% for obj in committees %}
          <li>
            <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    {% if openBallots %}
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Open Ballots <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {% for ballot in openBallots %}
            <li>
              <a href="{{ ballot.get_absolute_url }}">{{ ballot.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if closedBallots %}
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Closed Ballots <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {% for ballot in closedBallots %}
            <li>
              <a href="{{ ballot.get_absolute_url }}">{{ ballot.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    {% include 'ballot/includes/committee-heading.html' %}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Members</h2>
      <hr/>
      <p>
        {% for user in committee.users.all %}
          {{ user.username }} {% if not forloop.last %}|{% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
  {% if openBallots %}
    <div class="row">
      <div class="col-lg-12">
        <h2>Open Ballots</h2>
        <hr/>
        {% for ballot in openBallots %}
          {% include 'ballot/includes/ballot-panel.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if closedBallots %}
    <div class="row">
      <div class="col-lg-12">
        <h2>Closed Ballots</h2>
        <hr/>
        {% for ballot in closedBallots %}
          {% include 'ballot/includes/ballot-panel.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
