{% extends "base.html" %}
{% load markup %}

{% block title %}Committee - {{ committee.name }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>{{ committee.name }}</h1>
{% endblock page_title %}

{% block content %}

  <div class="row">
    {% include 'ballot/includes/committee-heading.html' %}
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Members</h2>
      <hr/>
      <p>
        {% for user in committee.users.all %}
          {{ user.username }} {% if not forloop.last %}|{% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
  {% if openBallots %}
    <div class="row">
      <div class="col-lg-12">
        <h2>Open Ballots</h2>
        <hr/>
        {% for ballot in openBallots %}
          {% include 'ballot/includes/ballot-panel.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if closedBallots %}
    <div class="row">
      <div class="col-lg-12">
        <h2>Closed Ballots</h2>
        <hr/>
        {% for ballot in closedBallots %}
          {% include 'ballot/includes/ballot-panel.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
