{% extends "project_base.html" %}
{% load custom_markup %}
{% load static %}

{% block title %}Committee - {{ committee.name }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="row">
        {% include 'ballot/includes/committee-heading.html' %}
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>Members</h2>
            <h5><b>Chair: </b></h5>
            <div style="height: 50px">
            {% if committee.chair.socialaccount_set.all.0.get_avatar_url %}
                <img style="max-width: 100%; max-height: 100%; margin-right: 10px" src="{{ committee.chair.socialaccount_set.all.0.get_avatar_url }}" />
            {% else %}
                <img style="max-width: 100%; max-height: 100%; margin-right: 10px" src="{% static 'img/default-user.png' %}" />
            {% endif %}
                {{ committee.chair }}
            </div>
            <hr/>
            <div>
                {% for user in committee.users.all %}
                    {% if user != committee.chair %}
                        <div style="height: 50px; margin-bottom: 10px">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img style="max-width: 100%; max-height: 100%; margin-right: 10px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                            {% else %}
                                <img style="max-width: 100%; max-height: 100%; margin-right: 10px" src="{% static 'img/default-user.png' %}" />
                            {% endif %}
                            {{ user.username }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
      <span class="pull-right">
        {% if user.is_authenticated %}
            <a href="{% url 'committee-update' project_slug=committee.project.slug slug=committee.slug %}"
               class="btn btn-default tooltip-toggle"
               data-title="Update this Committee">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}
          {% if user.is_staff %}
              <a href="{% url 'committee-delete' project_slug=committee.project.slug slug=committee.slug %}"
                 class="btn btn-default tooltip-toggle"
                 data-title="Delete this Committee">
                  <span class="glyphicon glyphicon-minus"></span>
              </a>
          {% endif %}
      </span>
        </div>
    </div>
    {% if openBallots %}
        <div class="row">
            <div class="col-lg-12">
                <h2>Open Ballots</h2>
                <hr/>
                {% for ballot in open_ballots %}
                    {% include 'ballot/includes/ballot-panel.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if closedBallots %}
        <div class="row">
            <div class="col-lg-12">
                <h2>Closed Ballots</h2>
                <hr/>
                {% for ballot in closed_ballots %}
                    {% include 'ballot/includes/ballot-panel.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
