{% extends "project_base.html" %}
{% load thumbnail %}
{% load static %}
{% load custom_markup %}
{% block title %}Teams - {{ project_slug }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Teams</h1>
{% endblock page_title %}
{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            Teams
            <div class="pull-right btn-group">
                {% if user.is_authenticated and committees %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "committee-create" committees.0.project.slug %}'
                       data-title="Create New Version">
                        {% show_button_icon "add" %}
                    </a>
                {% endif %}
            </div>
        </h1>
    </div>
    {%  ifequal num_committees 0 %}
        {% if unapproved %}
            <h3>All teams are approved.</h3>
        {% else %}
            <h3>No teams are defined.</h3>
        {% endif %}
    {%  endifequal %}
    {% for committee in committees %}
        {% include 'committee/includes/committee-panel.html' %}
    {%  endfor %}
{% endblock %}
