{% extends "project_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_markup %}

{% block js_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organisation_detail.css' %}">
{% endblock %}

{% block page_title %}
    <h1>Course Details</h1>
{% endblock page_title %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="list-style-type: none; padding: 10px;"> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <style>
        .success {
            text-align: center;
            font-family: inherit;
            color: inherit;
            background: #adffd2;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #96ffc5;
            list-style-type: none;
        }
    </style>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if 'email_sent' in message.tags or 'regenerate' in message.tags %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-10">
        <h1>{{ course.course_type.name }} ({{ course.start_date }} to {{ course.end_date }})</h1><br/>
        </div>

        <div class="col-lg-2" style="margin-top: 20px">
        <div class="btn-group pull-right">
            {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in course.certifying_organisation.project.certification_managers.all %}
                <a class="btn btn-default btn-sm btn-delete tooltip-toggle"
                   href='{% url "course-delete" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
                   data-title="Delete Course">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-sm tooltip-toggle btn-primary-focus"
                   href='{% url "course-update" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
                   data-title="Edit Course">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
                <a class="btn btn-default btn-sm tooltip-toggle btn-primary-focus"
                    href='{% url "certifyingorganisation-detail" course.certifying_organisation.project.slug course.certifying_organisation.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left: inherit; margin-top: 15px;">
            <div class="details col-lg-10" style="width: 60%">
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Course name</span><span class="col-lg-9">{{ course.course_type.name }} ({{ course.start_date }} to {{ course.end_date }})<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Course type</span><span class="col-lg-9">{{ course.course_type }}<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Course language</span><span class="col-lg-9">{{ course.language }}<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Trained competence(s)</span><span class="col-lg-9">{{ course.trained_competence }}<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Course convener</span>
                    {% if course.course_convener.user.first_name %}
                        <span class="col-lg-9">{{ course.course_convener.user.first_name }} {{ course.course_convener.user.last_name }}<br/></span>
                        {% else %}
                        <span class="col-lg-9">{{ course.course_convener }}<br/></span>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Training center</span><span class="col-lg-9">{{ course.training_center }}<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Organisation</span><span class="col-lg-9">{{ course.certifying_organisation.name }}<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">Start date</span><span class="col-lg-9">{{ course.start_date }}<br/></span>
                </div>
                <div class="col-lg-12">
                    <span class="grey-italic col-lg-3">End date</span><span class="col-lg-9">{{ course.end_date }}<br/></span>
                </div>
            </div>

            {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in course.certifying_organisation.project.certification_managers.all %}
            <div class="col-lg-2 pull-right" style="width: 20%;">
                <h4 class="panel-heading" style="padding-left:10px; padding-right: 10px">
                    Available Credits
                {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in certifyingorganisation.project.certification_managers.all %}
                    <a class="btn btn-default btn-xs tooltip-toggle btn-top-up" style="float: right; margin-top: -3px"
                       href= '{% url "top-up" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug %}'
                        data-title="Top up credits">
                        <i class="glyphicon glyphicon-shopping-cart"></i></a>
                {% endif %}</h4>
                {% if course.certifying_organisation.organisation_credits >= course.certifying_organisation.project.certificate_credit %}
                        <h3 class="panel-body tooltip-toggle"
                            data-title="Available credits to issue certificate"
                            data-placement="left"
                        >{{ course.certifying_organisation.organisation_credits }}
                        </h3>
                    {% else %}
                        <h3 class="panel-body tooltip-toggle"
                            data-title="Your credits is insufficient to issue more certificates, please top up"
                            data-placement="left"
                            style="color: indianred"
                        >{{ course.certifying_organisation.organisation_credits }}
                        </h3>
                {% endif %}
            </div>
            {% endif %}
    </div>

    <div class="container">

    <style>
        table {
            margin-top: 20px;
        }
        th {
        background-color: gainsboro;
        }
        table, th, td, tr {
            border: 1px solid;
            padding: 10px;
        }
    </style>

    <div class="menu-wrapper details-wrapper" style="margin-left: -15px; margin-top: 50px;">
    <table style="border: none!important; width: 100%">
    <tr style="border: none"><td style="border: none; padding: 0"><h3 style="margin-top: -20px">Course attendees</h3></td>
    {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in course.certifying_organisation.project.certification_managers.all %}
    <td style="border: none; padding: 0;">
    <div class="btn-group pull-right" style="margin-top: -30px">
        <a class="btn btn-default btn-sm tooltip-toggle btn-info-focus"
           href='{% url 'courseattendee-create' project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
            data-title="Add Course Attendees">
            {% show_button_icon "add" %}</a>

        <a class="btn btn-default btn-sm tooltip-toggle btn-info-focus btn-download-table-csv"
           href='#'
           data-title="Download table as CSV">
            <span class="glyphicon glyphicon-th-list"></span></a>
         <a id='upload-attendee' class="btn btn-default btn-sm tooltip-toggle btn-info-focus"
           href='{% url "upload-attendee" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
            data-title="Import Attendees from CSV file.">
            <span class="glyphicon glyphicon-import"></span>
            </a>
        <a id='download-zip' class="btn btn-default btn-sm tooltip-toggle"
           href='{% url "download_zip_all" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug %}'
            data-title="Download all issued certificates from this course">
            <span class="glyphicon glyphicon-download-alt"></span>
            </a>
        <a class="btn btn-default btn-sm tooltip-toggle btn-info-focus"
           href='{% url "generate-all-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug %}'
            data-title="Generate all certificate for this course">
            <i class="glyphicon glyphicon-folder-open"></i>
            </a>
        <a class="btn btn-default btn-sm tooltip-toggle btn-info-focus"
           href='{% url "regenerate-all-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug %}'
            data-title="Re-generate all PDF certificate for this course">
            <i class="glyphicon glyphicon-repeat"></i>
            </a>
         <a class="btn btn-default btn-sm tooltip-toggle btn-info-focus"
           href='{% url "send_email" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug %}'
            data-title="Email all participants with the link to their certificates.">
            <i class="glyphicon glyphicon-send"></i>
            </a>
    </div>
    </td></tr>
    {% endif %}
    </table>

    {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in course.certifying_organisation.project.certification_managers.all %}
        <div style="margin: 0 25px">
    <table class="course-attendees-table">
        <tr>
            <th style="width: 50%">Name</th>
            <th style="text-align: center">Certificate Issued?</th>
            <th style="text-align: center">Certificate Number</th>
            {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in course.certifying_organisation.project.certification_managers.all %}
            <th style="text-align: right">Actions</th>
            {% endif %}
        </tr>

        {% for attendee in attendees %}
            <tr><td>{{ attendee.attendee }}</td>
                {% with certificate=certificates|get_item:attendee.attendee.pk %}
                <td style="text-align: center">
                    {% if certificate %}
                        <span class="glyphicon glyphicon-ok tooltip-toggle" data-title="Certificate Issued"></span>
                        <span style="display: none;">Yes</span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove tooltip-toggle" data-title="No Certificate Issued"></span>
                        <span style="display: none;">No</span>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if attendee.attendee.pk in certificates %}
                        {{ certificate }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                {% endwith %}
                {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user or user == project.owner or user in course.certifying_organisation.project.certification_managers.all %}
                <td  style="text-align: center">
                    <div class="btn-group pull-right">
                        {% if attendee.editable %}
                            <a class="btn btn-default btn-xs btn-print tooltip-toggle"
                                href='{% url "attendee-update" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                data-title="Edit Attendee">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% else %}
                            <a class="btn btn-default btn-xs btn-print tooltip-toggle" disabled
                                href='#'
                                data-title="Edit attendee is only available 7 days after the certificate is issued.">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                        {% if attendee.attendee.pk in certificates %}
                            {% if attendee.attendee.pk in paid_certificates %}
                                {% if attendee.editable %}
                                    <a class="btn btn-default btn-xs btn-print tooltip-toggle"
                                        href='{% url "revoke-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                        data-title="Revoke Certificate">
                                        <span class="glyphicon glyphicon-alert"></span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-default btn-xs btn-print tooltip-toggle"
                                        href='#'
                                        data-title="Revoke Certificate is only available 7 days after the certificate is issued." disabled>
                                    <span class="glyphicon glyphicon-alert"></span>
                                </a>
                                {% endif %}
                                <a class="btn btn-default btn-xs btn-print tooltip-toggle"
                                    href='{% url "print-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                    data-title="Print Certificate">
                                    <span class="glyphicon glyphicon-print"></span>
                                </a>
                                <a class="btn btn-default btn-xs btn-print tooltip-toggle"
                                    href='{% url "regenerate-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                    data-title="Re-generate PDF certificate for this attendee">
                                    <i class="glyphicon glyphicon-repeat"></i>
                                </a>
                            {% else %}
                                {% if course.certifying_organisation.organisation_credits >= course.certifying_organisation.project.certificate_credit %}
                                    <a class="btn btn-default btn-xs tooltip-toggle btn-issue"
                                       href='{% url "paid-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                        data-title="Pay this certificate using credits">
                                        <i class="fa fa-usd"></i></a>
                                {% else %}
                                    <a class="btn btn-default btn-xs tooltip-toggle btn-top-up"
                                       href='{% url "top-up" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug %}'
                                        data-title="Top up credits to print the certificate">
                                        <i class="glyphicon glyphicon-shopping-cart"></i></a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if course.certifying_organisation.organisation_credits >= course.certifying_organisation.project.certificate_credit %}
                                <a class="btn btn-default btn-xs btn-issue tooltip-toggle"
                                    href='{% url "certificate-create" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                    data-title="Issue Certificate using credits">
                                    <span class="glyphicon glyphicon-check"></span>
                                </a>
                            {% else %}
                                <a class="btn btn-default btn-xs tooltip-toggle btn-top-up"
                                   href='{% url "top-up" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug %}'
                                    data-title="Top up credits to issue the certificate">
                                    <i class="glyphicon glyphicon-shopping-cart"></i></a>
                            {% endif %}
                        {% endif %}
                    <a class="btn btn-default btn-xs btn-delete tooltip-toggle"
                        href='{% url "courseattendee-delete" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.pk %}'
                        data-title="Delete Course Attendee">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
        <div><i class="fa fa-eye-slash"></i> Only authorized users can see list of course attendee.</div>
    {% endif %}

    </div>
    </div>

    <script>
        function convertArrayToCSV(array) {
            let csvStr = '';
            let headers = [];
            for (let i = 0; i < array.length; i++) {
                let line = '';
                for (let index in array[i]) {
                    if (!headers.includes(index)) {
                        headers.push(index)
                    }
                    line += line !== '' ? ',' : '';
                    line += array[i][index]
                }
                csvStr += line + '\r\n';
            }
            csvStr = headers.join(',') + '\r\n' + csvStr
            return csvStr
        }

        $(document).click(function () {
            $('.messages').fadeOut('fast')
        });

        $('#download-zip, .btn-print, .btn-info-focus').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-info')
            },
            function () {
                $(this).removeClass('btn-info').addClass('btn-default')
            }
        );
        $('.btn-delete').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-danger')
            },
            function (){
                $(this).removeClass('btn-danger').addClass('btn-default')
            }
        );
        $('.btn-primary-focus').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-primary')
            },
            function (){
                $(this).removeClass('btn-primary').addClass('btn-default')
            }
        );
        $('.btn-issue').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-warning')
            },
            function (){
                $(this).removeClass('btn-warning').addClass('btn-default')
            }
        );
        $('.btn-top-up').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-success')
            },
            function (){
                $(this).removeClass('btn-success').addClass('btn-default')
            }
        );
        $('.btn-download-table-csv').click(function (e) {
            const table = document.querySelector('.course-attendees-table');
            const arr = [...table.rows].map(r => [...r.querySelectorAll('td, th')].map(td => td.textContent.replace(/\n/g, "").trim()));
            let csv = '';
            for (let array of arr) {
                array.pop();
                csv += array.join(',');
                csv += '\r\n';
            }
            let uri = 'data:text/csv;charset=utf-8,' + decodeURIComponent(csv);
            let link = document.createElement('a');
            link.href = uri;
            link.download = 'Course attendees.csv';

            const clickHandler = () => {
                setTimeout(() => {
                    URL.revokeObjectURL(uri);
                    this.removeEventListener('click', clickHandler);
                }, 150);
            };
            link.addEventListener('click', clickHandler, false);
            link.click();
            return link;
        })
    </script>

{% endblock %}
