{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load custom_markup %}

{% block js_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organisation_detail.css' %}">
{% endblock %}

{% block page_title %}
    <h1>Course Details</h1>
{% endblock page_title %}

{% block content %}

    <div class="row">
        <div class="col-lg-10">
        <h1>{{ course.name }}</h1><br/>
        </div>

        <div class="col-lg-2" style="margin-top: 20px">
        <div class="btn-group pull-right">
            {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user %}
                <a class="btn btn-danger btn-sm tooltip-toggle"
                   href='{% url "course-delete" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
                   data-title="Delete Course">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "course-update" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
                   data-title="Edit Course">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
                <a class="btn btn-default btn-sm tooltip-toggle"
                    href='{% url "certifyingorganisation-detail" course.certifying_organisation.project.slug course.certifying_organisation.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
        </div>
    </div>

    <div class="details" style="margin-top: 15px; width: 60%">
        <span class="grey-italic col-lg-3">Course name</span><span class="col-lg-9">{{ course.name }}<br/></span>
        <span class="grey-italic col-lg-3">Course type</span><span class="col-lg-9">{{ course.course_type }}<br/></span>
        <span class="grey-italic col-lg-3">Course convener</span>
        {% if course.course_convener.user.first_name %}
        <span class="col-lg-9">{{ course.course_convener.user.first_name }} {{ course.course_convener.user.last_name }}<br/></span>
        {% else %}
        <span class="col-lg-9">{{ course.course_convener }}<br/></span>
        {% endif %}
        <span class="grey-italic col-lg-3">Training center</span><span class="col-lg-9">{{ course.training_center }}<br/></span>
        <span class="grey-italic col-lg-3">Organisation</span><span class="col-lg-9">{{ course.certifying_organisation }}<br/></span>
        <span class="grey-italic col-lg-3">Start date</span><span class="col-lg-9">{{ course.start_date }}<br/></span>
        <span class="grey-italic col-lg-3">End date</span><span class="col-lg-9">{{ course.end_date }}<br/></span>
    </div>


    <div class="container">

    <style>
        table {
            margin-top: 20px;
        }
        th {
        background-color: gainsboro;
        }
        table, th, td, tr {
            border: 1px solid;
            padding: 10px;
        }
    </style>

    <div class="menu-wrapper details-wrapper" style="margin-left: -15px; margin-top: 50px; float: left">

    <table style="border: none!important; width: 100%">
    <tr style="border: none"><td style="border: none; padding: 0"><h3 style="margin-top: -20px">Course attendees</h3></td>
    {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user %}
    <td style="border: none; padding: 0;">
        <a class="btn btn-default btn-sm tooltip-toggle pull-right" style=" margin-top: -30px"
           href='{% url 'courseattendee-create' project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug slug=course.slug %}'
            data-title="Add Course Attendees">
            {% show_button_icon "add" %}</a>
    </td></tr>
    {% endif %}
    </table>


    <div style="margin: 0 25px">
    <table>
        <tr>
            <th style="width: 50%">Name</th>
            <th style="text-align: center">Certificate Issued?</th>
            {% if user in course.certifying_organisation.organisation_owners.all or user.is_staff or user == course.course_convener.user %}
            <th style="text-align: right">Actions</th>
            {% endif %}
        </tr>

        {% for attendee in attendees %}
            <tr><td>{{ attendee.attendee }}</td>
                <td style="text-align: center">
                    {% if attendee.attendee.pk in certificates %}
                        <span class="glyphicon glyphicon-ok tooltip-toggle" data-title="Certificate Issued"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove tooltip-toggle" data-title="No Certificate Issued"></span>
                    {% endif %}
                </td>
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == course.course_convener.user %}
                <td  style="text-align: center">
                    <div class="btn-group pull-right">
                        {% if attendee.attendee.pk in certificates %}
                            <a class="btn btn-info btn-xs tooltip-toggle"
                                href='{% url "print-certificate" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                data-title="Print Certificate">
                                <span class="glyphicon glyphicon-print"></span>
                            </a>
                        {% else %}
                            <a class="btn btn-default btn-xs tooltip-toggle"
                                href='{% url "certificate-create" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.attendee.pk %}'
                                data-title="Issue Certificate">
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        {% endif %}
                    <a class="btn btn-danger btn-xs tooltip-toggle"
                        href='{% url "courseattendee-delete" project_slug=course.certifying_organisation.project.slug organisation_slug=course.certifying_organisation.slug course_slug=course.slug pk=attendee.pk %}'
                        data-title="Delete Course Attendee">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>

    </div>
    </div>

{% endblock %}
