{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Add Course Attendee</h1>
{% endblock page_title %}

{% block content %}

    <div class="pull-right">
        <a class="btn btn-default btn-xs tooltip-toggle"
                   href='{% url "attendee-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                   data-title="Add another attendee to the list">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
    </div>

    <section id="forms">
        <div class='container'>
            {% csrf_token %}
            {% crispy form %}
            {% for form in inlines %}
                {% crispy form %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
