{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}{{ project.name }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-10">
      <h2>{{ project.name }}</h2>
    </div>
    <div class="col-lg-2">
      <div class="btn-group btn-group-justified">
        {%  if not project.approved and user.is_staff %}
          <a class="btn btn-success btn-mini"
             href='{% url "project-approve" project.id %}'>
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </a>
        {% elif user.is_staff %}
          <a class="btn btn-default btn-mini"
              href='{% url "project-delete" project.id %}'>
            Delete {{ project.name }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Committees</h3>
    <hr/>
  </div>
  {% for committee in committees %}
    {% include 'committee/includes/committee-panel.html' %}
  {% endfor %}
{% endblock %}
