{% extends "project_base.html" %}
{% load custom_markup %}
{% load thumbnail %}
{% block title %}{{ project.name }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <img class="img-rounded"
                 src="{% thumbnail project.image_file 150x150 crop %}"/>
    </div>
    <div class="col-md-10 col-sm-6">
      <h2>{{ project.name }}</h2>
      {% if project.description %}
        <p>{{ project.description }}</p>
      {% endif %}
    </div>
  </div>
  {% if committees %}
    <div class="row">
      <h3>Committees</h3>
      <hr/>
    </div>
    {% for committee in committees %}
      {% include 'committee/includes/committee-panel.html' %}
    {% endfor %}
  {% endif %}
  {% if versions %}
    <div class="row">
      <h3>Versions</h3>
      <hr/>
    </div>
    {% for version in versions %}
      {% include 'version/includes/version-list-detail.html' %}
    {% endfor %}
  {% endif %}
{% endblock %}
