{% extends "project_base.html" %}

{% block title %}Projects{% endblock %}

{% block extra_head %}
{% endblock %}

{% block auth-nav-left %}
{% endblock %}

{% block anon-nav-left %}
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1 class="text-muted">
        Projects
        {% if user.is_authenticated %}
          <div class="pull-right btn-group">
            <a class="btn btn-default"
                href='{% url "project-create" %}'>
                Start New Project
            </a>
            <a class="btn btn-default"
               href='{% url "pending-project-list" %}'>
              Pending Projects
            </a>
          </div>
        {% endif %}
      </h1>
      <p class="lead text-center">
        Welcome to Projecta! This is a list of the approved
        projects which you are able to view.
      </p>
    </div>
    {% ifequal num_projects 0 %}
      <h3>
        No projects are defined, but you can
        <a href="{% url "project-create" %}">create one</a>.
      </h3>
    {% endifequal %}
    {% for project in projects %}
      {% include 'project/includes/project-panel.html' %}
    {%  endfor %}
{% endblock %}
