{% extends "project_base.html" %}
{% load custom_markup %}
{% load i18n %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block extra_head %}
{% endblock %}

{% block auth-nav-left %}
{% endblock %}

{% block anon-nav-left %}
{% endblock %}

{% block content %}
    <style>
        .pending-notification {
            text-align: center;
            font-family: inherit;
            color: inherit;
            background: #e0ecff;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #e0ecff
        }
        .cursor-pointer {
            cursor: pointer;
        }
        .icon-thumbnail {
            line-height: 150px;
        }
        .icon-thumbnail img {
            vertical-align: middle;
            max-width: 250px !important;
            max-height: 150px;
        }
    </style>

    {% if message %}
        {% if num_project_with_pending == 1 %}
          <div class="message-info">
              <p class="pending-notification"
                 >{{ message }}
                      Follow <a href="{{ project_with_pending.0.slug }}/pending-certifyingorganisation/list/">this link</a> to review.
              </p>
          </div>
        {% elif num_project_with_pending > 1 %}
            <div class="message-info-multiple">
                <p class="pending-notification"
                 >{{ message }}
                  Follow <a class="cursor-pointer" onclick="displayLink()" >this link</a> to review.
                </p>
                <p style="text-align: center">
                {% for project in project_with_pending %}
                    <span class="pending-notification pending-project-link" style="display: none">
                        <a href="{{ project.slug }}/pending-certifyingorganisation/list/">{{ project.name }}</a>
                    </span>&nbsp;
                {% endfor %}
                </p>
          </div>
        {% endif %}
    {% endif %}
    <div class="page-header">
      <p class="lead text-center text-muted">
        {% trans "High level software project management. Made easy." %}
      </p>
      <h2 class="text-muted">
        Projects
        {% if user.is_authenticated %}
          <div class="pull-right btn-group">
            <a class="btn btn-default tooltip-toggle"
                href='{% url "project-create" %}'
                data-title="Start New Project">
                {% show_button_icon "add" %}
            </a>
            <a class="btn btn-default tooltip-toggle"
               href='{% url "pending-project-list" %}'
                data-title="View Pending Projects">
              <span class="glyphicon glyphicon-time"></span>
            </a>
            <a class="btn btn-default tooltip-toggle"
               href='{% url "github-repo-view" %}'
               data-title="View Github Repositories">
                <img src="{% static 'img/github.png' %}" width="16" />
            </a>
          </div>
        {% endif %}
      </h2>
    </div>
    {% ifequal num_projects 0 %}
      <h3>
        No projects are defined, but you can
        <a href="{% url "project-create" %}">create one here</a>.
      </h3>
    {% endifequal %}
    {% for project in projects %}
      {% include 'project/includes/project-panel.html' %}
    {%  endfor %}

    <script>
        $(document).click(function () {
            $('.message-info').fadeOut('fast')
        });

        $(document).click(function (event) {
            if (!$(event.target).is(".cursor-pointer")) {
                $('.message-info-multiple').fadeOut('fast');
            }
        });

        function displayLink() {
            $('.pending-project-link').each(function () {
                $(this).show()
            })
        }
    </script>
{% endblock %}
