{% extends "project_base.html" %}

{% block title %}Projects{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1 class="text-muted">
        Projects
        {% if user.is_authenticated %}
          <small class="pull-right">
            <a class="btn btn-default btn-mini"
                href='{% url "project-create" %}'>
                <span class="glyphicon glyphicon-asterisk"></span>
            </a>
          </small>
        {% endif %}
      </h1>
      <p class="lead">
        Welcome to Projecta! This is a list of the approved
        projects which you are able to view.
      </p>
    </div>
    {% ifequal num_projects 0 %}
      <h3>
        No projects are defined (use the 'add' menu or the * icon
        above to add one).
      </h3>
    {% endifequal %}
    {% for project in projects %}
      {% include 'project/includes/project-panel.html' %}
    {%  endfor %} {# project loop #}
{% endblock %}
