{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ Other }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
{{  floppyforms }}

{% endblock %}

{% block page_title %}
<h1>Add visual changelog project</h1>
{% endblock page_title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_project.css' %}">
<section id="forms">
<div class='container'>
  <form method="post" enctype="multipart/form-data">
    {{ formset.management_form }}
        {% csrf_token %}
        {% crispy form %}

        <label>Screenshots</label>
        <div class="form-screenshot">
            {% crispy formset formset.form.helper %}
        </div>

        <div class="form-actions">
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-save">
        </div>
    </form>
</div>
</section>

<script>
    $('.form-screenshot').find('*[id*="clear"]').each(function() {
        $(this).hide();
    });
    $('.form-screenshot').find('*[for*="clear"]').each(function() {
        $(this).hide();
    });
</script>
{% endblock %}
