{% extends "project_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_markup %}
{% load staticfiles %}
{% load lesson_tags %}
{% load embed_video_tags %}

{% block title %}{% trans 'Worksheet' %} - {{ block.super }}{% endblock %}

{% block css_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organisation_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/worksheet_detail.css' %}">
{% endblock css_head %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h2>{% trans 'Worksheet' %}</h2>
{% endblock page_title %}

{% block content %}
{#    WARNING                                                                  #}
{#    PLEASE UPDATE THE PRINT TEMPLATE AS WELL IF YOU UPDATE THIS FILE. THANKS #}
{#    WARNING                                                                  #}
    <div class="row page-header" style="border-bottom: 8px solid {{ worksheet.section.project.accent_color }};">
        <div class="col-lg-12">
            <div class="pull-right">
                <div class="btn-group worksheet-action">
                    <a class="btn btn-default btn-mini tooltip-toggle"
                        href='{% url "section-list" project_slug=worksheet.section.project.slug %}#{{ worksheet.section.slug }}'
                        data-title="{% trans 'Back' %}">
                        <span class="glyphicon glyphicon-arrow-left gi-big"></span>
                    </a>
                    {% if worksheet.external_data %}
                    <a id="download-zip-button" class="btn btn-default btn-mini tooltip-toggle" target="_blank"
                       href='{% url "worksheet-zip" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug pk=worksheet.pk %}?q={{ module_number }}'
                       data-title="Download {{ worksheet.module }} module and its sample data as ZIP">
                        <img src="{% static "img/zip_download_icon_new.png" %}" width="30" class="monotone" />
                    </a>
                    {% endif %}
                    <a id="download-pdf-button" class="btn btn-default btn-mini tooltip-toggle" target="_blank"
                       href='{% url "worksheet-print" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug pk=worksheet.pk %}?q={{ module_number }}'
                       data-title="{% blocktrans with module=worksheet.module %}Download {{ module }} as PDF{% endblocktrans %}">
                        <img src="{% static "img/pdf_download_icon_new.png" %}" width="30" class="monotone" />
                    </a>
                    {% if user_can_edit %}
                        <a class="btn btn-default btn-mini btn-delete tooltip-toggle"
                           href='{% url "worksheet-delete" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug pk=worksheet.pk %}'
                           data-title="{% trans 'Delete' %} {{ module }}">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "worksheet-update" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug pk=worksheet.pk %}?q={{ module_number }}'
                           data-title="{% trans 'Edit' %} {{ module }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {% if worksheet.section.project.image_file %}
                <img src="{{ worksheet.section.project.image_file.url }}"
                     style="
                        display: block;
                        height:auto;
                        width:auto;
                        max-height:100px;
                        max-width:100px;">
            {% elif not worksheet.published %}
                <div class="text-center" style="
                        display: block;
                        height:100px;
                        width:100px;
                        color: white;
                        background-color: grey">
                  Your Project Image will be displayed here.
                </div>
            {% endif %}
        </div>
        <div class="col-lg-8" style="text-align:right;">
            <h2>
                <strong>
                    {% trans 'Section' %} : {{ section_number }}. {{ worksheet.section.name }}
                </strong>
                {{ worksheet.section|is_translation_up_to_date }}
            </h2>
            <h3 style="margin-top:-10px;margin-bottom:20px;">
                <i>
                    {% trans 'Module' %} : {{ module_number }}. {{ worksheet.module }}
                </i>
                {{ worksheet|is_translation_up_to_date }}
              {% if not worksheet.published %}<small>[draft]</small>{% endif %}
            </h3>
        </div>
    </div>

    {% if worksheet.youtube_link  %}
        <div class="row text-center">
            <!-- The video tag: -->
            {% video worksheet.youtube_link as youtube %}
              {% video youtube "large" %}
            {% endvideo %}
        </div>
    {% elif not worksheet.published %}
        <div class="text-center" style="display: block;
                                        height:300px;
                                        width:100%;
                                        color: white;
                                        background-color: grey">
          Your YouTube video will be embedded here.
        </div>
    {% endif %}

    <div class="row details-worksheet" style="margin-top:10px;">
        <div class="col-lg-1">
          <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
              <img src="{% static "img/info.png" %}" style="height:50px;width:50px">
          </div>
        </div>
        <div class="col-lg-8">
          <h3 class="custom-heading" style="margin-left:-40px"><strong>{{ worksheet.title }}</strong></h3>
        </div>
        <div class="col-lg-3">
        </div>
    </div>

    <div class="row details-worksheet" style="margin-top:10px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <p><em>“{{ worksheet.summary_leader }}”</em></p>
                  <p>{{ worksheet.summary_text | base_markdown }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                      {% if worksheet.summary_image %}
                            <img src="{{ worksheet.summary_image.url }}"
                                 class="img-responsive img-rounded center-block"
                                 style="
                                    width:auto;
                                    height:auto;
                                    max-height:300px;
                                    max-width: 300px;">
                      {% elif not worksheet.published %}
                        <div class="text-center" style="
                                                        display: block;
                                                        height:300px;
                                                        width:300px;
                                                        color: white;
                                                        background-color: grey">
                          Your Summary Image will be displayed here.
                        </div>
                      {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row details-worksheet" style="margin-top:10px;">
            <div class="col-lg-12">
                {% if worksheet.exercise_goal or worksheet.exercise_task %}
                    <h4><strong>
                        {% trans 'You try:' %}
                    </strong></h4>
                {% elif not worksheet.published %}
                   <h4><strong>
                        {% trans 'You try:' %}
                    </strong></h4>
                {% endif %}
                {% if worksheet.exercise_goal %}
                    <p>
                        <strong>
                            <i>
                                {% trans 'Goal:' %} {{ worksheet.exercise_goal }}
                            </i>
                        </strong>
                    </p>
                 {% elif not worksheet.published %}
                    <p>
                        <strong>
                            <i>
                                {% trans 'Goal:' %} <i>Your exercise goal will be displayed here. You will only see this help text in draft view.</i>
                            </i>
                        </strong>
                    </p>
                {% endif %}
                {% if worksheet.exercise_task %}
                    <p>{{ worksheet.exercise_task | base_markdown }}</p>
                {% elif not worksheet.published %}
                    <p><i>You exercise task will be displayed here. You will only see this help text in draft view.</i></p>
                {% endif %}
            </div>
        <div style="margin-bottom: 20px" class="details-worksheet col-lg-12 requirement-table">
            {% if user_can_edit %}
                <div class="pull-right btn-group requirement-action" style="margin-bottom:5px;display:none;">
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "specification-create" worksheet.section.project.slug worksheet.section.slug worksheet.slug %}'
                       data-title="{% trans 'Create New Requirement' %}">
                        {% show_button_icon "add" %}
                    </a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                        href='{% url "specification-order" worksheet.section.project.slug worksheet.section.slug worksheet.slug %}'
                        data-title="{% trans 'Specification Order' %}">
                        <span class="glyphicon glyphicon-sort-by-order"></span>
                    </a>
                </div>
            {% endif %}
            {% if requirements.count > 0 %}
                <table style="margin-top: 30px;" >
                    <tbody>
                        <tr style="background-color:#d6e6fb;">
                            <th style="padding:5px;">
                              {% if worksheet.requirement_header_name_first %}
                                {% trans worksheet.requirement_header_name_first|base_markdown %}
                              {% else %}
                                {% trans 'Name' %}
                              {% endif %}
                            </th>
                            <th style="padding:5px;">
                              {% if worksheet.requirement_header_name_last %}
                                {% trans worksheet.requirement_header_name_last|base_markdown %}
                              {% else %}
                                {% trans 'Expectation' %}
                              {% endif %}
                            </th>
                         {% if user_can_edit %}
                            <th class="requirement-action" style="text-align:right;padding-right:0px;display:none;background-color:#FFFFFF">Actions</th>
                         {% endif %}
                        </tr>
                        {% for requirement in requirements %}
                            <tr>
                                <td style="background-color:#f3f9fe;padding:5px;">{{ requirement.title|base_markdown }}{{ requirement|is_translation_up_to_date }}</td>
                                <td style="padding:5px;">{{ requirement.value|base_markdown }}</td>
                                {% if user_can_edit %}
                                <td style="padding-right: 0">
                                    <div class="btn-group pull-right requirement-action" style="display:none;">
                                        <a class="btn btn-default btn-mini tooltip-toggle"
                                           href='{% url "specification-delete" worksheet.section.project.slug worksheet.section.slug worksheet.slug requirement.pk %}'
                                           data-title="{% trans 'Delete' %} {{ requirement_title }}"
                                           data-original-title=""
                                           title="">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                        <a class="btn btn-default btn-mini tooltip-toggle"
                                           href='{% url "specification-update" worksheet.section.project.slug worksheet.section.slug worksheet.slug requirement.pk %}'
                                           data-title="{% trans 'Edit' %} {{ requirement_title }}"
                                           data-original-title=""
                                           title="">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif not worksheet.published %}
              <p>Your requirement table will be displayed here. You will only see this help text in draft view.</p>
            {% endif %}
        </div>
        {% if worksheet.exercise_image %}
            <a href="#" class="pop-image">
                <img id="{{ worksheet.exercise_image.url }}" class="img-responsive img-rounded pull-right"
                     src="{{ worksheet.exercise_image.url }}"
                     style="max-width: 100% !important;"
                     alt="" />
            </a>
        {% elif not worksheet.published %}
          <div class="img-responsive img-rounded pull-right" style="

                                          height:100px;
                                          width:300px;
                                          color: white;
                                          background-color: grey">
            Your Exercise Image will be displayed here. You will only see this help text in draft view.
          </div>
        {% endif %}
    </div>

    {# More about #}

    {% if worksheet.more_about_text or workesheet.more_about_image %}
        <div class="row details-worksheet" style="margin-top:10px;">
                <div class="col-lg-1">
                  <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
                    <img src="{% static "img/info.png" %}" style="height:50px;width:50px">
                  </div>
                </div>
                <div class="col-lg-8">
                  <h3 class="custom-heading" style="margin-left:-40px"><strong>{{ worksheet.more_about_title }}</strong></h3>
                </div>
        </div>
        <div class="row details-worksheet" style="margin-top:10px;">
            {% if worksheet.more_about_text %}
                <div class="row">
                    <div class="col-lg-12">
                      <p>{{ worksheet.more_about_text | base_markdown }}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-12"></div>
            {% endif %}
            {% if worksheet.more_about_image %}
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" class="pop-image">
                        <img id="{{ worksheet.more_about_image.url }}" class="img-responsive img-rounded pull-right"
                             src="{{ worksheet.more_about_image.url }}"
                             style="max-width: 100% !important;"
                             alt="" />
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% elif not worksheet.published %}
        <div class="row details-worksheet" style="margin-top:10px;">
                <div class="col-lg-1">
                  <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
                    <img src="{% static "img/info.png" %}" style="height:50px;width:50px">
                  </div>
                </div>
                <div class="col-lg-8">
                  <h3 class="custom-heading" style="margin-left:-40px"><strong>Your More About title will be displayed here</strong></h3>
                </div>
        </div>
        <div class="row details-worksheet" style="margin-top:10px;">

                <div class="row">
                    <div class="col-lg-12">
                      <p>Your More About content will be displayed here. You will only see this help text in draft view.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center" style="
                                                        display: block;
                                                        height:300px;
                                                        width:100%;
                                                        color: white;
                                                        background-color: grey">
                          Your More About Image will be displayed here.
                        </div>
                    </div>
                </div>

        </div>
    {% endif %}

    {# Check your knowledge #}
    <div class="container">
        <div class="row details-worksheet question-answer" style="margin-top:10px;">
            {% if questions %}
                <div class="col-lg-1" data-toggle="tooltip-question" data-placement="top"
                           title="Click on the answers to select it and click on the 'Submit Answers' button to reveal the correct answers">
                  <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
                      <img src="{% static "img/check.png" %}" style="height:50px;width:50px">
                  </div>
                </div>
                <div class="col-lg-8">
                  <h3 class="custom-heading" style="margin-left:-40px">
                      <strong>
                          {% trans 'Check your knowledge:' %}
                      </strong>
                  </h3>
                </div>
            {% elif not worksheet.published %}
                <div class="col-lg-1">
                  <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
                      <img src="{% static "img/check.png" %}" style="height:50px;width:50px" title="tetetettette">
                  </div>
                </div>
                <div class="col-lg-8">
                  <h3 class="custom-heading" style="margin-left:-40px">
                      <strong>
                          {% trans 'Check your knowledge:' %}
                      </strong>
                  </h3>
                  <p>Your Question Answer will be displayed here. You will only see this help text in draft view.</p>
                </div>
            {% endif %}
            <div class="col-lg-3 pull-right">
                {% if user_can_edit %}
                    <div class="pull-right btn-group question-answer-action" style="display:none;">
                        <a class="btn btn-default btn-mini tooltip-toggle"
                      href='{% url "question-create" worksheet.section.project.slug worksheet.section.slug worksheet.slug %}'
                           data-title="{% trans 'Create New Question' %}">
                        {% show_button_icon "add" %}
                        </a>
                        <a class="btn btn-default btn-mini tooltip-toggle"
                            href='{% url "question-order" worksheet.section.project.slug worksheet.section.slug worksheet.slug %}'
                            data-title="{% trans 'Question Order' %}">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row details-worksheet question-answer" style="margin-top:10px;">
            <div style="margin-bottom: 20px" class="col-lg-12">
                <ol type="1">
                    {% for question, answers in questions.items %}
                        <div class="row">
                            <li style="margin-bottom: 20px">
                                <div class="col-lg-10">
                                  <p><strong>{{ question.question }}:</strong>{{ question|is_translation_up_to_date }}</p>
                                    {% if question.question_image %}
                                        <img id="{{ question.question_image }}"
                                             class="img-responsive img-rounded pull-left"
                                                src="{{ question.question_image.url }}"
                                                style="max-width: 300px !important;"/>
                                    {% endif %}
                                </div>
                                {% if user_can_edit %}
                                <div class="col-lg-2">
                                        <div class="pull-right btn-group question-answer-action" style="display:none;">
                                            <a class="btn btn-default btn-mini tooltip-toggle"
                                          href='{% url "answer-create" worksheet.section.project.slug worksheet.section.slug worksheet.slug question.pk %}'
                                               data-title="{% trans 'Create New Answer' %}">
                                            {% show_button_icon "add" %}
                                            </a>
                                            <a class="btn btn-default btn-mini btn-delete tooltip-toggle"
                                                href='{% url "question-delete" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug pk=question.pk %}'
                                                data-title="{% trans 'Delete' %} {{ question.question }}">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                            <a class="btn btn-default btn-mini tooltip-toggle"
                                                href='{% url "question-update" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug pk=question.pk %}'
                                                data-title="{% trans 'Edit' %} {{ question.question }}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </div>
                                </div>
                                {% endif %}
                                <ol type="a" class="answer-list">
                                    {% for answer in answers %}
                                     <div class="row col-lg-12">
                                        <li style="margin-bottom: 10px">
                                            {% if user_can_edit %}
                                                {# We insert a tick for the correct answer and if the user is allowed and we display explanations. #}
                                                <div class="col-lg-10 answer-options" onclick="addClassClicked(this)">
                                                    {% if answer.is_correct %}
                                                        <span class="question-answer-action" style="display:none;">&#10004;</span>
                                                        <span class="answer answer-correct">{{ answer.answer }}{{ answer|is_translation_up_to_date }}</span>
                                                        <span class="answer-correct-tick"></span>
                                                    {%  else %}
                                                      <span class="answer answer-incorrect">{{ answer.answer }}{{ answer|is_translation_up_to_date }}</span>
                                                      <span class="answer answer-incorrect-tick"></span>
                                                    {% endif %}
                                                    {% if answer.answer_explanation %}
                                                        <span class="question-answer-action" style="display:none;">: <em>{{ answer.answer_explanation | base_markdown }}</em></span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-2">
                                                        <div class="pull-right btn-group question-answer-action" style="display:none;">
                                                            <a class="btn btn-default btn-mini btn-delete tooltip-toggle"
                                                                href='{% url "answer-delete" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug pk=answer.pk %}'
                                                                data-title="{% trans 'Delete' %} {{ answer.answer }}">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </a>
                                                            <a class="btn btn-default btn-mini tooltip-toggle"
                                                                href='{% url "answer-update" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug pk=answer.pk %}'
                                                                data-title="{% trans 'Edit' %} {{ answer.answer }}">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </a>
                                                        </div>
                                                </div>
                                            {% elif user.is_authenticated %}
                                                <div class="col-lg-10 answer-options" onclick="addClassClicked(this)">
                                                    {% if answer.is_correct %}
                                                        <span class="answer answer-correct">{{ answer.answer }}</span>
                                                        <span class="answer-correct-tick"></span>
                                                    {%  else %}
                                                      <span class="answer answer-incorrect">{{ answer.answer }}</span>
                                                      <span class="answer answer-incorrect-tick"></span>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                    {{ answer.answer }}
                                                {% endif %}
                                            </li>
                                       </div>
                                    {% endfor %}
                                </ol>

                            </li>
                        </div>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="text-right">
          <button type="button" id="submitAnswer" class="btn" onclick="submitAnswer(this)" style="background-image: linear-gradient(to bottom,{{ worksheet.section.project.accent_color }} 0,{{ worksheet.section.project.accent_color }} 100%); color: snow" >Submit Answers</button>
        </div>
    </div>

    {# Further reading #}
    <div class="container">
        <div class="row details-worksheet further-reading" style="margin-top:10px;">
           {% if further_reading %}
                <div class="col-lg-1">
                  <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }}; height:50px;width:50px; margin-left:-15px;">
                    <img src="{% static "img/book.png" %}" style="height:50px;width:50px">
                  </div>
                </div>
                    <div class="col-lg-8">
                      <h3 class="custom-heading" style="margin-left:-40px">
                          <strong>
                              {% trans 'Further reading:'%}
                          </strong>
                      </h3>
                    </div>
          {% elif not worksheet.published %}
                <div class="col-lg-1">
                  <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }}; height:50px;width:50px; margin-left:-15px;">
                    <img src="{% static "img/book.png" %}" style="height:50px;width:50px">
                  </div>
                </div>
                    <div class="col-lg-8">
                      <h3 class="custom-heading" style="margin-left:-40px">
                          <strong>
                              {% trans 'Further reading:'%}
                          </strong>
                      </h3>
                      <p>Your Further Reading content will be displayed here. You will only see this help text in draft view.</p>
                    </div>
           {% endif %}
           {% if user_can_edit %}
                <div class="col-lg-3 pull-right">
                    <div class="pull-right btn-group further-reading-action" style="display:none;">
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "further-reading-create" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug %}'
                           data-title="{% trans 'Create New Further Reading Item' %}">
                            {% show_button_icon "add" %}
                        </a>
                    </div>
                </div>
           {% endif %}
        </div>
        <div class="row details-worksheet further-reading" style="margin-top:10px;">
            <div class="details-worksheet col-lg-12" style="margin-bottom: 20px">
                <ul>
                    {% for info in further_reading reversed %}
                        <li style="list-style: none;">
                            <div class="row">
                                {{ info.text|safe }}
                                {{ info|is_translation_up_to_date }}
                                {% if user_can_edit %}
                                    <div class="pull-right btn-group">
                                        <a class="btn btn-default btn-mini btn-delete tooltip-toggle further-reading-action" style="display:none;"
                                           href='{% url "further-reading-delete" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug pk=info.pk%}'
                                           data-title="{% trans 'Delete' %} {{ info.text }}">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                        <a class="btn btn-default btn-mini tooltip-toggle further-reading-action" style="display:none;"
                                           href='{% url "further-reading-update" project_slug=worksheet.section.project.slug section_slug=worksheet.section.slug worksheet_slug=worksheet.slug pk=info.pk%}'
                                           data-title="{% trans 'Edit' %} {{ info.text }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-bottom: 10px;">
                {% if worksheet.external_data %}
                <p>
                    {% blocktrans with url=worksheet.external_data.url %}<a target="_blank" href="{{ url }}" download="{{ file_title }}">Download the sample data</a> for the lesson.{% endblocktrans %}
                </p>
                {% elif not worksheet.published %}
                <p>
                    <a target="_blank" href="#" download="file title">Download the sample data</a> for your lesson will be displayed here. You will only see this help text in draft view.
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    {# License #}
    {% if worksheet.license %}
    <div class="container">
      <div class="row details-worksheet license">
          <div class="col-lg-1">
            <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
              <img src="{% static "img/license.png" %}" style="height:50px;width:50px">
            </div>
          </div>
          <div class="col-lg-8">
            <h3 class="custom-heading" style="margin-left:-40px">
              <strong>
                {% trans 'License:'%}
              </strong>
            </h3>
          </div>
      </div>
      <div class="row details-worksheet license col-lg-12">
        <ul style="margin-left: 10px">
          <li style="list-style: none;">
            <div class="row">
              {{ worksheet.license.description|base_markdown }}
            </div>
          </li>
          <li style="list-style: none;">
            <div class="row">
              <a href="{{ worksheet.license.url }}" target="_blank">Read more about {{ worksheet.license.name }}</a>.
            </div>
          </li>
        </ul>
        <p></p>
      </div>
    </div>
    {% elif not worksheet.published %}
    <div class="container">
      <div class="row details-worksheet license">
          <div class="col-lg-1">
            <div class="pull-left" style="background-color:{{ worksheet.section.project.accent_color }};margin-left:-15px;">
              <img src="{% static "img/license.png" %}" style="height:50px;width:50px">
            </div>
          </div>
          <div class="col-lg-8">
            <h3 class="custom-heading" style="margin-left:-40px">
              <strong>
                {% trans 'License:'%}
              </strong>
            </h3>
          </div>
      </div>
      <div class="row details-worksheet license col-lg-12">
        <ul style="margin-left: 10px">
          <li style="list-style: none;">
            <div class="row">
              Your license description will be displayed here. You will only see this help text in draft view.
            </div>
          </li>
          <li style="list-style: none;">
            <div class="row">
              <a href="#" target="_blank">Read more about your &ltlicense url link&gt </a>.
            </div>
          </li>
        </ul>
        <p></p>
      </div>
    </div>
    {% endif %}

    <div class="container">
    {# funded by  #}
        <div class="row">
            <h5 class="text-muted">
                <p>{{ funded_by|base_markdown }}</p>
                {% if not worksheet.published %}
                  <p>Your funder information will be displayed here.</p>
                {% endif %}
            </h5>
        </div>
    </div>


    <script>
        $('.btn-delete').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-danger')
            },
            function (){
                $(this).removeClass('btn-danger').addClass('btn-default')
            }
        );
        $('.btn-view').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-primary')
            },
            function (){
                $(this).removeClass('btn-primary').addClass('btn-default')
            }
        );
        $('.btn-top-up').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-success')
            },
            function (){
                $(this).removeClass('btn-success').addClass('btn-default')
            }
        );
        $('.requirement-table').hover(
            function () {
                $(this).find('.requirement-action').show();
            },
             function () {
                $(this).find('.requirement-action').hide();
            }
        );
        $('.question-answer').hover(
            function () {
                $(this).find('.question-answer-action').show();
            },
             function () {
                $(this).find('.question-answer-action').hide();
            }
        );
        $('.further-reading').hover(
            function () {
                $(this).find('.further-reading-action').show();
            },
             function () {
                $(this).find('.further-reading-action').hide();
            }
        );

        // select answer
        function addClassClicked(that){
          var $element = $(that);
          if ($('#submitAnswer').hasClass('submitted')) return false;
          $element.closest('.answer-list').find('.answer').removeClass('clicked');
          $element.find('.answer').addClass('clicked');
        }

        // submit answer
        function submitAnswer(that){
          var $element = $(that);
          $('.answer-correct').addClass('submitted');
          $('.answer-incorrect.clicked').addClass('submitted');
          $('.answer-correct-tick').addClass('fa fa-check').css('color', 'green');
          $('.answer-incorrect-tick.clicked').addClass('fa fa-times').css('color', 'red');
          $('.answer').css('cursor','not-allowed');
          $('#submitAnswer').addClass('submitted');
        }

        // tooltip
        $(document).ready(function(){
          $('[data-toggle="tooltip-question"]').tooltip();
        });
    </script>
{% endblock %}
