{% extends "project_base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load custom_markup %}
{% block title %} {{ project.name }} {{ section.name }} Worksheets {% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Worksheet for {{ project.name }} {{ section.name }}</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            Section {{ section.name }}
            <div class="pull-right btn-group">
                {% if user.is_staff or user.project.owner %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "worksheet-create" project.slug section.slug %}'
                       data-title="Create New Worksheet">
                        {% show_button_icon "add" %}
                    </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "section-list" project_slug=project.slug %}'
                   data-title="Back">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </div>
        </h1>
        <p>
            <div>
                {{ section.notes }}
            </div>
        </p>
    </div>
    {% for worksheet in worksheets %}
        {% include 'worksheet/includes/worksheet-list-detail.html' %}
    {%  endfor %}
{% endblock %}
