{% extends "project_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Worksheet' %} - {{ block.super }}{% endblock %}

{% block css_head %}

{% endblock css_head %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h2>{% trans 'Worksheet' %}</h2>
{% endblock page_title %}

{% block content %}
    <div class="row pull-right">
         <a class="btn btn-default btn-mini tooltip-toggle"
{#            href='{% url "section-list" project_slug=worksheet.section.project.slug, section_slug=section.slug %}'#}
            data-title="{% trans 'Worksheet list' %}">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </div>
    
    <div class="container">
        <div class="row">
           <h3 style="padding-left:30%; padding-bottom: 10pt; padding-top:10pt">
            Answers to Worksheet modules
            <small class="text-muted">questions with corresponding correct answer</small>
           </h3>
        </div>

        <div class="row">
            {% for items in worksheets %}
                <div class="col-lg-6" style="background-color: whitesmoke;">
                    <div class="jumbotron" style="height: 5%;background-blend-mode: screen;">
                        <ul class="nav nav-pills" role="tablist">
                          <li role="presentation">Module Name <span
                                  class="badge">{{ items.worksheet }}</span></li>
                          <li class="pull-right" role="presentation">Number of
                              Questions <span class="badge">2</span></li>
                        </ul>
                    </div>

                    {% for item in items.question_answers %}
                        <div class="d-none d-print-block">
                            <span><strong>Question:</strong> {{ item.question }}</span><br/>
                            {% for answer in item.answer %}
                                <span class="d-none d-print-block">
                                    {% if answer.is_correct %}
                                        <span class="grey-italic"><u
                                                style="color: #5cc4ef;">Answer</u>:
                                            <i>{{ answer }}</i></span><br/>
                                   {% endif %}
                                </span>
                            {% endfor %}
                            <hr>
                            <br/>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}