{% load custom_markup %}
{% load thumbnail %}
{% load embed_video_tags %}

<div class="row">
    <div class="col-lg-9">
        <h3><span class="text-muted">Feature:</span> {{ entry.title }}</h3>
    </div>
    <div class="col-lg-2">
        {% if user.is_authenticated and not rst_download %}
            <div class="btn-group pull-right">
                {% if not entry.approved and user.is_staff %}
                    <a class="btn btn-success btn-mini tooltip-toggle"
                       data-title="Approve Entry"
                       href='{% url "entry-approve" pk=entry.id %}'>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Delete Entry"
                   href='{% url "entry-delete" pk=entry.id %}'>
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Update Entry"
                   href='{% url "entry-update" pk=entry.id %}'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-lg-8">
        {{ entry.description|base_markdown }}
    </div>
    <div class="col-lg-4 text-center">
            {% if entry.image_file %}
                {% if entry.image_file|is_gif %}
                    <img class="img-responsive img-rounded pull-right"
                         data-gifffer="{{ MEDIA_URL }}{{ entry.image_file }}"
                         gifffer-alt=""/>{# see core/settings/contrib.py for large-entry #}
                    <a href="{{ MEDIA_URL }}{{ entry.image_file }}">
                    Click here for full size animation.
                    </a>
                {% else %}
                    <a href="{{ MEDIA_URL }}{{ entry.image_file }}">
                    <img class="img-responsive img-rounded pull-right"
                         src="{{ entry.image_file|thumbnail_url:'large-entry' }}"
                         alt=""/>{# see core/settings/contrib.py for large-entry #}
                    </a>
                {% endif %}
            {% endif %}
    </div>
</div>

{% if entry.video %}
    <div class="row">
        <div class="col-lg-8 col-md-offset-1">
            {% video entry.video 'small' %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-lg-8">
        <h5 class="text-muted">
            {{ entry.funder_info_html|base_markdown }}
            {{ entry.developer_info_html|base_markdown }}
        </h5>
    </div>
</div>

{% if not rst_download %}
    <hr />
{% endif %}
