{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}

{% block title %}About Lessons App{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>About Lessons App</h1>
{% endblock page_title %}

{% block content %}
    <style>
    .sub-header {
        border-bottom: 1px solid #f2f2f2;
        margin-top: 20px;
        padding: 1px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .arrow-menu {
        font-size: 14pt !important;
        margin-top: 10px !important;
    }
    .sub-header-body {
        margin-top: 15px;
        padding: 0 10px;
    }
    </style>

    <div class="page-header">
        <h1 class="text-muted text-center">
            About Lessons App
        </h1>
    </div>

    <div>
        <p>
            Basically the things you find in the lessons app are worksheets we
            developed for our own training courses. We tried to come up with a
            new approach where the worksheets are focussed on the learners doing
            things and figuring things out themselves and not so much ‘follow the
            bouncing ball’ instructions.
        </p>
        <p>
            The latter are ok but very hard to maintain and IMHO the learners don’t learn as much as when they have to work stuff
            out themselves more.
        </p>
        <p class="text-center">
            The original repo is here
        <a href="https://github.com/kartoza/QGISTrainingWorkshop">QGISTrainingWorkshop</a>
        </p>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Lessons
            <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i>
            <i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
     <div class="sub-header-body" style="display: none">
           <p>
            The lessons are also much more intended to be instructor
            lead - you need a competent person guiding the learners through the materials
            and filling in extra bits of info beyond what is presented on the sheets.
           </p>
         <p>
            I’d be interested to hear feedback from those using them for self-study to see how
            they work for them, but that wasnt the design intent.
         </p>
         <p>
             We first started working doing the materials in libreoffice but it was very
             cumbersome dealing with docs in git.
            </p>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Worksheets
            <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i>
            <i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <p>
           We wanted to make it so that each worksheet could be used independently
            and that it fits on two sides of an A4 sheet so that the activities are
            in nice bite-sized chunks. We devised a fairly tight structure to the
            sheets so that learners get the rythmn of the training and start to move
            through the materials easily.
        </p>
        <p>
            Another design intent was that we could
            quickly assemble courses customised to the user’s needs. So if a group
            wants to focus on digitising we can pull out a set of sheets relating to
            that topic area.
        </p>
        <p>
            We have run quite a few training courses with these
            (and we made similar sheets for InaSAFE) and they work pretty well for us
            and, once they grasp the fact that they are not being spoon fed, most of
            our learners feedback say they enjoy using their brain more during the
            training. Each lesson has an exercise with a list of specifications.
        </p>
        <p>
            We really try to avoid making particular reference to Gui elements, and
            rather give instructions like ‘open the vector layer properties and set
            your line thickness to 4pt, colour to red and opacity to 50%’.
        </p>
            <p>
            This makes the content less vulnerable to a dev tidying up the UI and
            breaking all the documentation for it, and makes it more fun for the learner
            to hunt around in the Gui for the different options. We didnt always succeed
            completely in avoiding specific Gui references but we try our best to do so.
        </p>

    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Why the web?
            <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i>
            <i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <p>
            One of the other motivations for shifting to the web is to make it
            easier for people to get the content formatted nicely - the lessons
            are created using a structured form that asks for different elements
            (intro, further reading etc.) and then we assemble the content into the
            lesson layout.
        </p>
        <p>
            You can also use markdown in the lesson content for basic
            styling. We have some work in progress to have a ‘curriculum designer’
            that will let you tick off one ore more sheets on a form and assemble
            your own PDF and unique URL with your curriculum so that when you present
            a course you can link to the sheets being used for the course.
        </p>
        <p>
            At some point it would be nice to link this to the certification app too
            so that you can say ‘Joe did our course and it covered these modules’..
            On the registration page you can fill in all the key details about
            your organisation including its, address (physical and online),
            contact person email, logo and so on. It is important to include
            a logo if you have one as that will be used on the certificates issued
            by the system. We recommend that you use a logo with a square aspect ratio for this.
        </p>

    </div>
    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Contributing to the Lessons App
            <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i>
            <i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
    <div class="sub-header-body" style="display: none">
        <p>
            I don’t know if our approach will work for everyone, but if others are
            interested to use the platform for QGIS everything we made is open content
            and the platform is open so feel free to use it - and if you are interested
            contribute new content.
        </p>
        <p>
            If QGIS.ORG as a whole is interested in making it an official part of the project
            (e.g. to replace our old training manual work) that is fine with us too -
            though we dont have the same level of coverege for QGIS as the manual has yet.
        </p>
        <p>
            Also we would probably want to move the translation system into QGIS.ORG sphinx
            since it will probably be tedious to support ~26 languages or whatever the count
            we have currently in QGIS.ORG. If anyone wants edit rights to tweak and improve
            what you see in the lessons app, just pop me a note and I will give you the needed access.
        </p>
    </div>

    <div class="sub-header" onclick="expandDiv(this)">
        <h2 class="text-muted">Thank you
            <i class="glyphicon glyphicon-menu-down pull-right arrow-menu"></i>
            <i class="glyphicon glyphicon-menu-up pull-right arrow-menu" style="display: none"></i></h2>
    </div>
     <div class="sub-header-body" style="display: none">
        <p>
           I hope that gives a better background,
        </p>
            <p>
                and thanks to
            </p>
        <ol>
            <li>Etienne Trimaille</li>
            <li>Ismail Sunni <span><a href="mailto:ismail@kartoza.com">ismail@kartoza.com</a></span></li>
            <li>Rohmat Muhammad <span><a href="mailto:rohmat@kartoza.com">rohmat@kartoza.com</a></span></li>
            <li>Alison Mukoma <span><a href="mailto:alison@kartoza.com">alison@kartoza.com</a></span></li>
            <li>Anita Hapsari <span><a href="mailto:anita@kartoza.com">anita@kartoza.com</a></span></li>
        </ol>
        <p>
            who are great examples of people that you may not have heard of who are working away to make cool stuff for QGIS :-)
        </p>
    </div>

    <script>
        function expandDiv(parent_div) {
            $(parent_div).children().children().toggle();
            $(parent_div).next().toggle();
        }
    </script>
{% endblock %}
