{% extends "project_base.html" %}

{% load crispy_forms_tags %} {% load static %}

{% block extra_head %}
    {{ Other }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    {{  floppyforms }}

{% endblock %}

{% block page_title %}
    <h1>{{ view.update_label }}</h1>
{% endblock page_title %}

{% block content %}

    <section id="forms">
        <div class='container'>
            {% crispy form %}
        </div>
    </section>

    <script src="{% static "js/tinymce_config.js" %}"></script>

{% endblock %}
