{% load custom_markup %}
{% load thumbnail %}

<div class="row">
    {% if version.project.image_file %}
        <div class="col-lg-3">
            {% if not rst_download %}
                <img class="img-responsive img-rounded"
                     src="{{ version.project.image_file|thumbnail_url:'medium-entry' }}"/>
            {% else %}
                <img class="img-responsive img-rounded"
                     src="{{ version.project.image_file.url }}"/>
            {% endif %}
        </div>
    {% endif %}
    <div class="col-lg-9">
        <div class="row">
            {% if not rst_download %}
                <div class="col-lg-12">
                    <h3 class="muted align-right">
                        <small>Project:</small>
                        {{ version.project }}</h3>
                </div>
                <div class="col-lg-12">
                    <h3 class="muted align-right">
                        <small>Changelog for version:</small>
                        {{ version.name }}</h3>
                </div>
            {% else %}
                <div class="col-lg-12">
                    <h1>
                        Changelog for {{ version.project }} {{ version.name }}
                    </h1>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% if not rst_download %}
    <hr />
{% endif %}
{% if version.image_file %}
<div class="row">
    <div class="col-lg-12">
        {% if not rst_download %}
            <a href="{{ MEDIA_URL }}{{ version.image_file }}">
                <img class="img-responsive img-rounded center-block""
                     src="{{ version.image_file.url }}"/>
            </a>
        {% else %}
            <img class="img-responsive img-rounded center-block"
                 src="{{ version.image_file.url }}"/>
        {% endif %}
    </div>
</div>
{% endif %}
{% if version.description %}
<div class="row" style="padding-top: 10px;">
    <div class="col-lg-12">
        {{ version.description|base_markdown }}
    </div>
</div>
{% endif %}

{% include "version/includes/version-sponsors.html" %}

{% if not rst_download %}
    <hr />
{% endif %}

{% for row in version.categories %}
    {% if row.entries %}
        <h2 class="text-muted" id="category-{{ row.category.id }}">
            {{ row.category.name }}
        </h2>
        {% if not rst_download %}
            <hr />
        {% endif %}
        {% for entry in row.entries %}
            {% if entry.approved %}
                {% include "entry/includes/entry_detail.html" %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}{# row loop #}
