{% extends "project_base.html" %}
{% load custom_markup %}
{% load staticfiles %}
{#    we disable disqus temporarily because of unwanted ads. #}
{#{% load disqus_tags %}#}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block js_head %}

{% endblock js_head %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Entries (all)</h1>
{% endblock page_title %}

{% block content %}

    <div class="row" style="margin-top:15px;margin-bottom:15px;">
        <div class="col-lg-12">
            <div class="btn-group btn-group pull-left">
                {% if user_can_edit %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Download sustaining member list as html"
                       href='{% url 'version-sponsor-download' project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-download"></span>
                        <span style="font-size: 7pt;">H T M L</span>
                    </a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Download as RST"
                       href='{% url 'version-download' project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-download"></span>
                        <span style="font-size: 7pt;">R S T</span>
                    </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Download as GNU Changelog" data-toggle="tooltip"
                   href='{% url 'version-download-gnu' project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-list-alt"></span>
                </a>
                {% if user_can_delete and not version.locked %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Delete Version"
                       href='{% url "version-delete" project_slug=version.project.slug slug=version.slug %}'>
                        {% show_button_icon "delete" %}
                    </a>
                {% endif %}
                {% if user_can_edit and not version.locked %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Update Version"
                       href='{% url "version-update" project_slug=version.project.slug slug=version.slug %}'>
                        {% show_button_icon "update" %}
                    </a>
                {% endif %}
                {% if version.locked %}
                    {% if user.is_staff or user == version.project.owner or user in version.project.changelog_managers.all %}
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           data-title="Unlock this version."
                           data-toggle="modal" data-target="#unlockModal">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           data-title="This version is locked." disabled="disabled">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                {% else %}
                    {% if user.is_staff or user == version.project.owner or user in version.project.changelog_managers.all %}
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           data-title="Lock this version."
                            data-toggle="modal" data-target="#lockModal">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="pull-right">
                {% if user.is_authenticated %}
                    <span class="loading-img" style="margin-right: 5px; font-size: 9pt; display: none
">
                        Downloading all referenced images is in progress, please do not close this window.
                        <i style="font-size: 15pt; margin-left: 5px" class="fa fa-spinner fa-spin"></i></span>
                    <button onclick="downloadAllReferencedImages()"
                       class="btn btn-default tooltip-toggle btn-download-images"
                       data-title="Download All Referenced Images for This Version">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="btn btn-default tooltip-toggle"
                            data-title="Import PR from Github into Entries"
                            data-toggle="modal" data-target="#GithubPRModal">
                        <i class="fa fa-github"></i>
                    </button>
                    <a href="{% url 'entry-create' project_slug=version.project.slug version_slug=version.slug %}"
                       class="btn btn-default tooltip-toggle"
                       data-title="Add New Entry">
                        {% show_button_icon "add" %}
                    </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "entry-atom-feed" project_slug=version.project.slug version_slug=version.slug %}'
                   data-title="Atom Feed for {{ version.project.name }} Version {{ version.name }}">
                    <img src="{% static "img/feed-icon-14x14.png" %}"/>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unlockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Unlock Version</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to unlock this version for editing?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="unlockVersion()">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="lockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Lock Version</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to lock this version for editing?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="lockVersion()">Yes</button>
          </div>
        </div>
      </div>
    </div>

    {% include "version/detail-content.html" %}
    <script>
        function unlockVersion() {
            $.ajax({
                type: 'GET',
                url: '{% url "version-unlocked" project_slug=version.project.slug slug=version.slug %}',
                success: function () {
                    $('#unlockModal').modal('hide');
                    location.reload()
                }
            })
        }
        function lockVersion() {
            $.ajax({
                type: 'GET',
                url: '{% url "version-locked" project_slug=version.project.slug slug=version.slug %}',
                success: function () {
                    $('#lockModal').modal('hide');
                    location.reload()
                }
            })
        }
    </script>

    {% include "version/includes/github-form-modal.html" %}
{#    we disable disqus temporarily because of unwanted ads. #}
{#    <h5 id="comments">Comments</h5>#}
{#    {% disqus_show_comments %}#}
    <script>
        function downloadAllReferencedImages() {
            $.ajax({
                url: "{% url 'download-referenced-images' project_slug=version.project.slug slug=version.slug %}",
                async: true,
                beforeSend: function () {
                    $('.loading-img').show();
                    $('.btn-download-images').prop('disabled', true)
                },
                success: function (data) {
                    location.reload()
                }
            })
        }
    </script>

{% endblock %}
