{% extends "project_base.html" %}
{% load custom_markup %}
{% load staticfiles %}
{#    we disable disqus temporarily because of unwanted ads. #}
{#{% load disqus_tags %}#}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block js_head %}

{% endblock js_head %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Entries (all)</h1>
{% endblock page_title %}

{% block content %}

    <div class="row" style="margin-top:15px;margin-bottom:15px;">
        <div class="col-lg-12">
            <div class="btn-group btn-group pull-left">
                {% if user_can_edit %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Download sponsor list as html"
                       href='{% url 'version-sponsor-download' project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-download"></span>
                        <span style="font-size: 7pt;">H T M L</span>
                    </a>
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Download as RST"
                       href='{% url 'version-download' project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-download"></span>
                        <span style="font-size: 7pt;">R S T</span>
                    </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Download as GNU Changelog" data-toggle="tooltip"
                   href='{% url 'version-download-gnu' project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-list-alt"></span>
                </a>
                {% if user_can_delete %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Delete Version"
                       href='{% url "version-delete" project_slug=version.project.slug slug=version.slug %}'>
                        {% show_button_icon "delete" %}
                    </a>
                {% endif %}
                {% if user_can_edit %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       data-title="Update Version"
                       href='{% url "version-update" project_slug=version.project.slug slug=version.slug %}'>
                        {% show_button_icon "update" %}
                    </a>
                {% endif %}
            </div>
            <div class="pull-right">
                {% if user.is_authenticated %}
                    <span class="loading-img" style="margin-right: 5px; font-size: 9pt; display: none
">
                        Downloading all referenced images is in progress, please do not close this window.
                        <i style="font-size: 15pt; margin-left: 5px" class="fa fa-spinner fa-spin"></i></span>
                    <button onclick="downloadAllReferencedImages()"
                       class="btn btn-default tooltip-toggle btn-download-images"
                       data-title="Download All Referenced Images for This Version">
                        <i class="fa fa-download"></i>
                    </button>
                    <button class="btn btn-default tooltip-toggle"
                            data-title="Import PR from Github into Entries"
                            data-toggle="modal" data-target="#GithubPRModal">
                        <i class="fa fa-github"></i>
                    </button>
                    <a href="{% url 'entry-create' project_slug=version.project.slug version_slug=version.slug %}"
                       class="btn btn-default tooltip-toggle"
                       data-title="Add New Entry">
                        {% show_button_icon "add" %}
                    </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "entry-atom-feed" project_slug=version.project.slug version_slug=version.slug %}'
                   data-title="Atom Feed for {{ version.project.name }} Version {{ version.name }}">
                    <img src="{% static "img/feed-icon-14x14.png" %}"/>
                </a>
            </div>
        </div>
    </div>

    {% include "version/detail-content.html" %}
    {% include "version/includes/github-form-modal.html" %}
{#    we disable disqus temporarily because of unwanted ads. #}
{#    <h5 id="comments">Comments</h5>#}
{#    {% disqus_show_comments %}#}
    <script>
        function downloadAllReferencedImages() {
            $.ajax({
                url: "{% url 'download-referenced-images' project_slug=version.project.slug slug=version.slug %}",
                async: true,
                beforeSend: function () {
                    $('.loading-img').show();
                    $('.btn-download-images').prop('disabled', true)
                },
                success: function (data) {
                    location.reload()
                }
            })
        }
    </script>

{% endblock %}
