{% extends "project_base.html" %}
{% load thumbnail %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Versions (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Versions
          {% if user.is_authenticated %}
            <div class="pull-right btn-group">
              <a class="btn btn-default btn-mini"
                  href='{% url "version-create" %}'>
                  Create New Version
              </a>
              <a class="btn btn-default btn-mini"
                 href='{% url "version-create" %}'>
                Pending Versions
              </a>
            </div>
          {% endif %}
        </h1>
    </div>
    {%  ifequal num_versions 0 %}
        {% if unapproved %}
            <h3>All versions are approved.</h3>
        {% else %}
            <h3>No versions are defined, but you can create one.</h3>
        {% endif %}
    {%  endifequal %}
    {% for version in versions %}
    <div class="row" style="margin-top:10px;">
        <div class="col-lg-1">
            {% if version.image_file %}
            <a class="pull-left"
               href="{{ MEDIA_URL }}{{ version.image_file }}">
                <img class="media-object img-responsive img-rounded"
                   src="{% thumbnail version.image_file 50x50 crop %}" />
            </a>
            {%  endif %}
        </div>
        <div class="col-lg-9">
            <div class="media-body">
                <h3 class="media-heading">
                    <b>{{ version.project.name }} : {{ version.name }}</b>
                </h3>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="btn-group pull-right">
                {%  if not version.approved and user.is_staff %}
                <a class="btn btn-success btn-mini"
                   href='{% url "version-approve" project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                {% endif %}
                <a class="btn btn-default btn-mini"
                    href='{% url "version-delete" project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini"
                    href='{% url "version-update" project_slug=version.project.slug slug=version.slug %}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
    </div>
    {%  endfor %}
{% endblock %}
