{% extends "project_base.html" %}

{% load crispy_forms_tags %}

{% block extra_head %}
    {{ Other }}
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    {{ floppyforms }}

{% endblock %}

{% block title %}
    Add Sustaining Member
{% endblock title %}

{% block content %}

    <section id="forms">
        <h3>New Sustaining Member for {{ project.name }}</h3>
        <hr/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="vertical-space"></div>
            <div class="form-actions">
                <input type="submit" name="submit" value="Submit"
                       class="btn btn-primary" id="submit-save">
            </div>
        </form>
    </section>

{% endblock %}
