{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Sponsors - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Sponsors (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="row" style="margin-bottom: 15px">
    <div class="btn-group pull-right">
                {% if user in sponsor.project.sponsorship_managers.all or user.is_staff or user == sponsor.project.owner or user == sponsor.sponsor.author %}
                <a class="btn btn-default btn-mini btn-delete tooltip-toggle"
                   href='{% url "sponsor-delete" project_slug=sponsor.project.slug slug=sponsor.sponsor.slug %}'
                   data-title="Delete {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                {% if user in sponsor.project.sponsorship_managers.all or user.is_staff or user == sponsor.project.owner or user == sponsor.sponsor.author %}
                      <a class="btn btn-default btn-mini tooltip-toggle"
                             data-title="Download invoice"
                             href='{% url 'sponsor-invoice' project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                        <span class="glyphicon glyphicon-download"></span> Invoice
                      </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "sponsor-update" project_slug=sponsor.project.slug slug=sponsor.sponsor.slug %}'
                   data-title="Edit {{ certifyingorganisation.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
            </div>
    </div>

    <div class="row">
        <div class=".col-md-4">

            {% if sponsor.sponsor.logo %}
                <img class="img-responsive img-rounded pull-left" style="max-height: 75px"
                     src="{{ MEDIA_URL }}{{ sponsor.sponsor.logo }}" />
            {% endif %}

            {% if sponsor.sponsorship_level.logo %}
                <img class="img-responsive img-rounded pull-right"
                     src="{{ MEDIA_URL }}{{ sponsor.sponsorship_level.logo }}" width="60"/>
            {% endif %}
        </div>
    </div>

    <hr/>

    <div class="row ">

        <div class="col-sm-12 text-left">
            {% if sponsor.sponsor.sponsor_url or sponsor.sponsor.contact_person or sponsor.sponsor.sponsor_email or sponsor.sponsor.sponsor_duration %}

                <h2 style="font-weight: bolder; margin-top: 0; padding-bottom: 10px;">{{ sponsor.sponsor.name }}</h2>
                <p>
                    <div class="sponsor-detail-title">
                        Website
                    </div>
                    <div>
                        <b><a href="{{ sponsor.sponsor.sponsor_url }}">{{ sponsor.sponsor.sponsor_url }}</a></b>
                    </div>
                </p>
                <p>
                    <div class="sponsor-detail-title">
                        Sponsorship Level
                    </div>
                    <div>
                        {{ sponsor.sponsorship_level }}
                    </div>
                </p>
                <p>
                    <div class="sponsor-detail-title">
                        Start Date
                    </div>
                    <div>
                        {{ sponsor.start_date }}
                    </div>
                </p>
                <p>
                    <div class="sponsor-detail-title">
                        End Date
                    </div>
                    <div>
                        {{ sponsor.end_date }}
                    </div>
                </p>
                {% if user.is_authenticated %}
                    <p>
                        <div class="sponsor-detail-title">
                            Contact Person
                        </div>
                        <div>
                            {% if sponsor.sponsor.contact_person %}
                                {{ sponsor.sponsor.contact_person }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </p>
                {% endif %}
                {% if user.is_authenticated %}
                    <p>
                        <div class="sponsor-detail-title">
                            Email
                        </div>
                        <div>
                           {% if sponsor.sponsor.sponsor_email %}
                                {{ sponsor.sponsor.sponsor_email }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </p>
                {% endif %}
                {% if sponsor.sponsor.agreement and user.is_authenticated %}
                    <p>
                        <div class="sponsor-detail-title">
                            Sponsor agreement
                        </div>
                        <div>
                            <b><a href="{{ MEDIA_URL }}{{ sponsor.agreement }}"> Document agreement</a></b>
                        </div>
                    </p>
                {% endif %}
                {% if sponsor.amount_sponsored and sponsor.currency %}
                    <p>
                        <div class="sponsor-detail-title">
                            Amount Sponsored
                        </div>
                        <div>
                            {{ sponsor.amount_sponsored }} {{ sponsor.currency }}
                        </div>
                    </p>
                {% endif %}
            {% else %}
                <p>No description</p>
            {% endif %}

        </div>
    </div>


{% endblock %}
