{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% load staticfiles %}
{% block title %}Sponsors - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 xmlns="http://www.w3.org/1999/html">Sponsors (all)</h1>
{% endblock page_title %}

{% block content %}
    <style>
        .rss-icon:hover {
            color: darkorange;
        }
        .icon:hover {
            color: #2a62bc;
        }
    </style>
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}Sponsors
                <div class="pull-right btn-group">
                {% if user.is_authenticated %}
                    <a class="btn btn-default btn-mini tooltip-toggle icon"
                       href='{% url "sponsor-create" project_slug %}'
                       data-title="Create New Sponsor">
                        {% show_button_icon "add" %}
                    </a>
                    {% if not unapproved %}
                        <a class="btn btn-default btn-mini tooltip-toggle icon"
                           href='{% url "pending-sponsor-list" project_slug %}'
                           data-title="View Pending sponsorship period">
                            <span class="glyphicon glyphicon-time"></span>
                        </a>
                    {% endif %}
                  <a class="btn btn-default btn-mini tooltip-toggle icon"
                       href='{% url "sponsor-cloud" project_slug %}'
                       data-title="Generate Current Sponsor Cloud">
                        <i class="glyphicon glyphicon-cloud"></i>
                    </a>
                {% endif %}
                    <a class="btn btn-default btn-mini tooltip-toggle icon"
                       href='{% url "sponsor-programme" project_slug %}'
                       data-title="View Sponsorship Programme">
                        <i class="glyphicon glyphicon-info-sign"></i></a>
                    <a class="btn btn-default btn-mini tooltip-toggle rss-icon"
                       href='{% url "sponsor-rss-feed" project_slug %}'
                       data-title="RSS Feed for Sponsors">
                        <i class="fa fa-rss-square"></i>
                    </a>
                    <a class="btn btn-default btn-mini tooltip-toggle rss-icon"
                       href='{% url "sponsor-atom-feed" project_slug %}'
                       data-title="Atom Feed for Sponsors">
                        <i class="fa fa-rss"></i>
                    </a>
                </div>
        </h1>
    </div>
    {% ifequal num_sponsors 0 %}
        {% if unapproved %}
            <h3>All sponsors are approved.</h3>
        {% else %}
            {% if user.is_staff %}
                <h3>No sponsors are defined, but you can <a
                        class="btn btn-default btn-mini"
                        href='{% url "sponsor-create" project_slug %}'>create one</a>.</h3>
            {% else %}
                <h3>No sponsors are defined</h3>
            {% endif %}
        {% endif %}
    {% endifequal %}

    {% if sponsors %}<h2 class="text-muted">List of Current Sponsors</h2> {% endif %}


    {% for sponsor in sponsors %}
        {% if sponsor.current_sponsor %}
            {% ifchanged sponsor.sponsorship_level %}
               <h3 class="text-muted"><img
                            src="{% thumbnail sponsor.sponsorship_level.logo 50x50 %}"/> {{ sponsor.sponsorship_level }}
                    </h3>
            {% endifchanged %}
             <div class="row" style="margin-top:10px;">
                    <div class="col-lg-1">
                        {% if sponsor.sponsor.logo %}
                            {% if sponsor.sponsor.sponsor_url %}
                                <a href="{{ sponsor.sponsor.sponsor_url }}">
                                <img class="img-responsive img-rounded pull-right"
                                     src="{% thumbnail sponsor.sponsor.logo 50x50 crop %}"/>
                            </a>
                            {% else %}
                                <a href="{{ MEDIA_URL }}{{ sponsor.sponsor.logo }}">
                                    <img class="img-responsive img-rounded pull-right"
                                         src="{% thumbnail sponsor.sponsor.logo 50x50 crop %}"/>
                                </a>
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="col-lg-9">
                        <h3>{{ sponsor.sponsor }}</h3>

                        <h5>{{ sponsor.start_date }} - {{ sponsor.end_date }}</h5>

                        <h5>{{ sponsor.sponsorship_level }} : {{ sponsor.project.name }}</h5>
                        {% ifnotequal sponsor.amount_sponsored None %}
                        <h5>Amount sponsored : {{ sponsor.amount_sponsored }} {{ sponsor.currency }}</h5>
                        {% endifnotequal %}
                    </div>
                    <div class="col-lg-2">
                        <div class="btn-group pull-right">
                            <a class="btn btn-default btn-mini"
                               href='{% url "sponsor-detail" project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endfor %}




    {% if sponsors %}
        <hr/><h2 class="text-muted">List of Past Sponsors</h2> {% endif %}


    {% for sponsor in sponsors %}
        {% if not sponsor.current_sponsor %}
            {% ifchanged sponsor.sponsorship_level %}
                <h3 class="text-muted"><img
                            src="{% thumbnail sponsor.sponsorship_level.logo 50x50 %}"/> {{ sponsor.sponsorship_level }}
                    </h3>
            {% endifchanged %}
            <div class="row" style="margin-top:10px;">
                    <div class="col-lg-1">
                        {% if sponsor.sponsor.logo %}
                            <a href="{{ MEDIA_URL }}{{ sponsor.sponsor.logo }}">
                                <img class="img-responsive img-rounded pull-right"
                                     src="{% thumbnail sponsor.sponsor.logo 50x50 crop %}"/>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-lg-9">
                        <h3>{{ sponsor.sponsor }}</h3>

                        <h5>{{ sponsor.start_date }} - {{ sponsor.end_date }}</h5>

                        <h5>{{ sponsor.sponsorship_level }} : {{ sponsor.project.name }}</h5>
                    </div>
                    <div class="col-lg-2">
                        <div class="btn-group pull-right">
                            <a class="btn btn-default btn-mini"
                               href='{% url "sponsor-detail" project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endfor %}

    <hr>
    {% include "_pagination.html" %}
{% endblock %}
