{% extends "project_base.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% block title %}Sponsors - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Sponsors (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Sponsors
            {% if user.is_authenticated %}
                {% if user.is_staff or user == project.owner or user in project.sponsorship_managers.all %}
                    <div class="pull-right btn-group">
                        <a class="btn btn-default btn-mini tooltip-toggle"
                           href='{% url "sponsor-create" project_slug %}'
                           data-title="Create New Sponsor">
                            {% show_button_icon "add" %}
                        </a>
                {% endif %}
                {% if not unapproved %}
                    <a class="btn btn-default btn-mini tooltip-toggle"
                       href='{% url "pending-sponsor-list" project_slug %}'
                       data-title="View Pending Sponsors">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                {% endif %}
                </div>
            {% endif %}
        </h1>
    </div>
    {% ifequal num_sponsors 0 %}
        {% if unapproved %}
            <h3>All sponsors are approved.</h3>
        {% else %}
            <h3>No sponsors are defined, but you can <a
                    class="btn btn-default btn-mini"
                    href='{% url "sponsor-create" project_slug %}'>create one</a>.</h3>
        {% endif %}
    {% endifequal %}

    {% for sponsor in sponsors %}
        <script>console.debug("{{ sponsor }}");</script>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-1">
                {% if sponsor.logo %}
                    <a href="{{ sponsor.logo.url }}">
                        <img class="img-responsive img-rounded pull-right"
                             src="{% thumbnail sponsor.logo 50x50 crop %}"/>
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-9">
                <h5>{{ sponsor.project.name }}</h5>

                <h3>{{ sponsor.name }}</h3>
            </div>
            <div class="col-lg-2">
                <div class="btn-group pull-right">
                    {% if not sponsor.approved %}
                        {% if user.is_staff or user == sponsor.project.owner or user in sponsor.project.sponsorship_manager.all %}
                        <a class="btn btn-default btn-mini"
                           href='{% url "sponsor-approve" project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-default btn-mini"
                       href='{% url "sponsor-delete" project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    <a class="btn btn-default btn-mini"
                       href='{% url "sponsor-update" project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    {% if not unapproved %}
                    <a class="btn btn-default btn-mini"
                       href='{% url "sponsor-detail" project_slug=sponsor.project.slug slug=sponsor.slug %}'>
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr/>
    {% include "_pagination.html" %}
{% endblock %}
