body {
  padding-top: 70px;
  padding-bottom : 140px;
}

.align-right {
  text-align: right;
}

.margin-top {
    margin-top: 15px;
}

.thumbnail {
    border-width: 0px !important;
    border-style: none;
    box-shadow: none;
    text-align: center;}
