
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.custom-form-container {
    padding: 30px;
    max-width: 450px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: 'Open Sans';
}

.custom-form-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Open Sans';
    padding-bottom: 20px;
}

.custom-form-container button[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.custom-form-container input[type=text], input[type=password], input[type=email]{
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.custom-form-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.custom-form {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.custom-form-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: 'Open Sans';
    font-size: 14px;
}

.custom-form-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.custom-form-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.remember {
    padding: 2px;
}

.errorlist {
    background-color: #ff6666;
    color: white;
    padding: 10px;
}

.errorlist li {
    list-style-type: none;
}