{% extends "project_base.html" %}
{% load custom_markup %}
{% load static %}

{% block title %}Course Type - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block js_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organisation_detail.css' %}">
{% endblock %}

{% block page_title %}
    <h1>Available Course Types</h1>
{% endblock page_title %}

{% block content %}

    <div class="row">
        <div class=".col-md-4">
            <div class="col-lg-10">
            <h1>{{ coursetype.name }}</h1>
        </div>

        {# Only organisation owners, project owner or staff can edit #}
        <div class="col-lg-2">
            <div class="btn-group pull-right">
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner or user in project.certification_manager.all %}
                <a class="btn btn-default btn-sm btn-delete tooltip-toggle"
                   href='{% url "coursetype-delete" project_slug=coursetype.certifying_organisation.project.slug organisation_slug=coursetype.certifying_organisation.slug pk=coursetype.pk %}'
                   data-title="Delete {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "coursetype-update" project_slug=coursetype.certifying_organisation.project.slug organisation_slug=coursetype.certifying_organisation.slug pk=coursetype.pk %}'
                   data-title="Edit {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                 <a class="btn btn-default btn-sm tooltip-toggle"
                    href='{% url "certifyingorganisation-detail" coursetype.certifying_organisation.project.slug coursetype.certifying_organisation.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
        </div>
        </div>
    </div>

    <div class="details" style="margin-top: 20px; width: 100% !important">
        <span class="grey-italic col-lg-2">Course type</span><span class="col-lg-10">{{ coursetype.name }}<br/></span>
        <span class="grey-italic col-lg-2">Description</span><span class="col-lg-10">{{ coursetype.description }}<br/></span>
        <span class="grey-italic col-lg-2">Instruction hours</span><span class="col-lg-10">{{ coursetype.instruction_hours }}<br/></span>
        <span class="grey-italic col-lg-2">Link</span><span class="col-lg-10">{{ coursetype.coursetype_link }}<br/></span>
    </div>

    <script>
        $('.btn-delete').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-danger')
            },
            function (){
                $(this).removeClass('btn-danger').addClass('btn-default')
            }
        )
    </script>

{% endblock %}
