{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Course Type - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Available Course Types</h1>
{% endblock page_title %}

{% block content %}

    <div class="row">
        <div class=".col-md-4">
            <div class="col-lg-10">
            <h1>{{ coursetype.name }}</h1>
        </div>

        {# Only organisation owners or staff can edit #}
        <div class="col-lg-2">
            <div class="btn-group">
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "coursetype-delete" project_slug=coursetype.certifying_organisation.project.slug organisation_slug=coursetype.certifying_organisation.slug slug=coursetype.slug %}'
                   data-title="Delete {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "coursetype-update" project_slug=coursetype.certifying_organisation.project.slug organisation_slug=coursetype.certifying_organisation.slug slug=coursetype.slug %}'
                   data-title="Edit {{ coursetype.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                 <a class="btn btn-default btn-sm tooltip-toggle"
                    href='{% url "certifyingorganisation-detail" coursetype.certifying_organisation.project.slug coursetype.certifying_organisation.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
        </div>
        </div>
    </div>

    </div>
    <div class="row">
    <div class="col-lg-8">
        Name : {{ coursetype.name }}<br/>
        Description : {{ coursetype.description }}<br/>
        Instruction Hours : {{ coursetype.instruction_hours }}<br/>
        Link : {{ coursetype.coursetype_link }}<br/>
    </div>
    </div>

{% endblock %}
