{% load thumbnail %}
<div class="row section-list" style="margin-top:5px;">
    <div class="col-lg-9">
        <h3>
            <a href="{% url 'worksheet-list' project_slug=section.project.slug section_slug=section.slug %}">
                {{ section.name }}
            </a>
        </h3>
    </div>

    <div class="col-lg-3">
        {% if user.is_staff or user == project.owner %}
            <div class="btn-group pull-right">
                <a class="btn btn-default btn-mini"
                   href='{% url "section-delete" project_slug=section.project.slug slug=section.slug %}'>
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini"
                   href='{% url "section-update" project_slug=section.project.slug slug=section.slug %}'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
