{% load thumbnail %}
{% load custom_markup %}
{% load lesson_tags %}
<div class="row section-list" style="margin-top:5px;">
    <div class="col-lg-9" id="{{ section.slug }}">
        <input class="section-checkbox" type="checkbox" onchange="toggleCheckAllWorksheet(this)" hidden>
        <h3>
            {{ forloop.counter }}. {{ section.name }} {{ section|is_translation_up_to_date }}
        </h3>
         {{ section.notes | base_markdown }}
    </div>
    <div class="col-lg-3">
            <div class="btn-group pull-right">
                {% if user_can_edit %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "worksheet-create" project.slug section.slug %}'
                   data-title="Create New Worksheet">
                    {% show_button_icon "add" %}
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "worksheet-order" project_slug=section.project.slug section_slug=section.slug %}'
                   data-title="Worksheet Order">
                    <span class="glyphicon glyphicon-sort-by-order"></span>
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Delete {{ section.name }}"
                   href='{% url "section-delete" project_slug=section.project.slug slug=section.slug %}'>
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini tooltip-toggle"
                   data-title="Update {{ section.name }}"
                   href='{% url "section-update" project_slug=section.project.slug slug=section.slug %}'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                <a class="btn btn-default btn-mini tooltip-toggle"
                   href='{% url "worksheet-module-answers" project_slug=section.project.slug section_slug=section.slug pk=section.pk %}'
                   data-title="View question answers for {{ section.name }} modules" >
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </a>
            </div>
    </div>
</div>

{% for worksheet in worksheets %}
    {% if worksheet.title != '' %}
       {% include 'section/includes/row-worksheet.html' %}
    {% endif %}
{% endfor %}
<hr>
