{% load thumbnail %}
{% load custom_markup %}

{% if version.sponsors %}
    <h2 class="text-muted" id="sponsors-heading">
        Sustaining members for {{ version.project.name }} version {{ version.name }}
    </h2>
    <div class="row">
        {% for sponsorship_level, allsponsors in sponsors.items %}
            <div class="row">
                {% if not rst_download %}
                    <hr/>
                {% endif %}
                <h3 class="text-muted">
                    <img src="{% thumbnail sponsorship_level.logo 50x50 %}"/> {{ sponsorship_level }}
                </h3>
            </div>

            <div class="row" style="text-align: center;">
                {% if not rst_download %}
                    {% for sponsor in allsponsors %}
                        <div class="col-xs-8 col-sm-4 item col-md-3" style="margin-bottom: 20px">
                            <div class="thumbnail" style="height: 80px">
                                {% if sponsor.logo %}
                                    <a href="{{ sponsor.sponsor_url }}">
                                        <img
                                            {% thumbnail sponsor.logo 150x50 as logo %}
                                            {% if logo %}
                                                src="{% thumbnail sponsor.logo 150x50 %}"
                                            {% else %}
                                                src="{{ sponsor.logo.url }}" width="150" height="50"
                                            {% endif %}
                                             alt="{{ sponsor }}" />
                                    </a>
                                {% endif %}
                                <div class="caption">
                                    <p>{{ sponsor }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <table border="1">
                        <tbody>
                        {% for s in allsponsors|columns:2 %}
                            <tr>
                                {% for sponsor in s %}
                                    <td>
                                        <div class="thumbnail">
                                            {% if sponsor.logo %}
                                                <a href="{{ sponsor.sponsor_url }}">
                                                    <img
                                                        {% thumbnail sponsor.logo 150x50 as logo %}
                                                        {% if logo %}
                                                            src="{% thumbnail sponsor.logo 150x50 %}"
                                                        {% else %}
                                                            src="{{ sponsor.logo.url }}" width="150" height="50"
                                                        {% endif %}
                                                         alt="{{ sponsor }}" />
                                                </a>
                                            {% endif %}
                                            <div class="caption">
                                                <p>{{ sponsor }}</p>
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                                {% if s|length < 2 %}
                                    <td>&nbsp;</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>



        {% endfor %}
    </div>
{% endif %}
