{% load thumbnail %}
<div class="row version-list" style="margin-top:5px;" onclick="window.location='{% url 'version-detail' project_slug=version.project.slug slug=version.slug %}';">

    <div class="col-lg-1">
        {% if version.image_file %}
            <a class="pull-left"
               href="{{ version.image_file.url }}">
                <img class="img-responsive img-rounded"
                     src="{% thumbnail version.image_file 150x90 crop %}" />
            </a>
        {% endif %}
    </div>
    <div class="col-lg-8">
        <h3>
            <a href="{% url 'version-detail' project_slug=version.project.slug slug=version.slug %}">
                {{ version.name }}
            </a>
            {% if version.release_date %}
             <small>released {{ version.release_date }}</small>
            {% endif %}
        </h3>
    </div>

    <div class="col-lg-3">
        <div class="btn-group pull-right">
            {%  if not version.approved %}
                {% if user.is_staff or user in version.project.changelog_manager.all %}
                <a class="btn btn-default btn-mini"
                   href='{% url "version-approve" project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                {% endif %}
            {% endif %}
            {% if user_can_delete == True %}
                <a class="btn btn-default btn-mini"
                   href='{% url "version-delete" project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
            {% endif %}
            {% if user_can_delete == True %}
                <a class="btn btn-default btn-mini"
                   href='{% url "version-update" project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
