{% load thumbnail %}


{% if version.sponsors %}
    <h2 class="text-muted" id="sponsors-heading">
        Sponsors for {{ version.project.name }} version {{ version.name }}
    </h2>
    {% if not rst_download %}
        <hr/>
    {% endif %}
    <div class="row">
        {% for sponsor in version.sponsors %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <p><a href="{{ MEDIA_URL }}{{ sponsor.sponsor.sponsor_url }}">{{ sponsor.sponsor }}</a></p>
                        <p>{{ sponsor.start_date }} - {{ sponsor.end_date }}</p>
                        <p>{{ sponsor.sponsorship_level }} or more</p>
                    </div>
                    {% if sponsor.sponsor.logo %}
                        <img src="{% thumbnail sponsor.sponsor.logo 150x50 %}" />
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
