{% load thumbnail %}
<div class="row version-list" style="margin-top:5px;" onclick="window.location='{% url 'version-detail' project_slug=version.project.slug slug=version.slug %}';">

    <div class="col-lg-1">
        {% if version.image_file %}
            <a class="pull-left"
               href="{{ version.image_file.url }}">
                <img class="img-responsive img-rounded"
                     src="{% thumbnail version.image_file 150x90 crop %}" />
            </a>
        {% endif %}
    </div>
    <div class="col-lg-8">
        <h3>
            <a href="{% url 'version-detail' project_slug=version.project.slug slug=version.slug %}">
                {{ version.name }}
            </a>
        </h3>
    </div>

    <div class="col-lg-3">
        <div class="btn-group pull-right">
            {% if user_can_delete %}
                <a class="btn btn-default btn-mini"
                   href='{% url "version-delete" project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
            {% endif %}
            {% if user_can_edit %}
                <a class="btn btn-default btn-mini"
                   href='{% url "version-update" project_slug=version.project.slug slug=version.slug %}'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
        {% endif %}
        </div>
    </div>
</div>
