{% load thumbnail %}
{% load custom_markup %}

{% if version.sponsors %}
    <h2 class="text-muted" id="sponsors-heading">
        Sponsors for {{ version.project.name }} version {{ version.name }}
    </h2>

    {% for sponsorship_level, allsponsors in sponsors.items %}

        <h3 class="text-muted">
            <img src="{% thumbnail sponsorship_level.logo 50x50 %}"/> {{ sponsorship_level }}
        </h3>

        <table border="1">
            <tbody>
            {% for s in allsponsors|columns:2 %}
                <tr>
                    {% for sponsor in s %}
                        <td>
                            {% if sponsor.logo %}
                                <a href="{{ sponsor.sponsor_url }}">
                                    <img
                                        {% thumbnail sponsor.logo 150x50 as logo %}
                                        {% if logo %}
                                            src="{% thumbnail sponsor.logo 150x50 %}"
                                        {% else %}
                                            src="{{ sponsor.logo.url }}" width="150" height="50"
                                        {% endif %}
                                         alt="{{ sponsor }}" />
                                </a>
                            {% endif %}
                            <p>{{ sponsor }}</p>
                        </td>
                    {% endfor %}
                    {% if s|length < 2 %}
                        <td>&nbsp;</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}

{% endif %}
