<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{ custtok }}</p>
<p>{{ dbmerchreq }}</p>
<p>{{ length }}</p>
<form action={% url 'create-charge-view' %} method=POST>
{% csrf_token %}
<select name="merchants">
{% for i in dbmerchreq %}
    {% for k,v in i.items %}
    {% if k == "merchantid" %}
        <option value={{ v }}>
    {% else %}
            {{ v }}</option>
        {% endif %}
    {% endfor %}
{% endfor %}
</select>
<input type="submit" value="Pay $420">
</form>
</body>
</html>