<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create a merchant</h1>
<a href="https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id={{ ourclientid }}&scope = read_write">Goto Stripe.com</a>
<h1>Create charge</h1>
<a href="/customercharge/">Create a charge</a>
<h1>Create a customer</h1>
<form action={% url 'process-view' %} method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_Hfs5jjuxLeOiEtUgtlQFF8Jz"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
<h1>Customer query</h1>
<p>{{ fields }}</p>
<p></p>
</body>
</html>