psycopg2-binary==2.8.6
Django==2.2.18
django-countries==5.5
django-crispy-forms==1.8.1
django-braces==1.13.0
django-model-utils==1.4.0
django-pipeline==1.6.14
django-pure-pagination==0.3.0
django-reversion==3.0.5
markdown==3.1.1

easy-thumbnails==2.7.1
django-widget-tweaks==1.3
raven==6.5.0
requests==2.20.1
django-hashedfilenamestorage==2.3
# pypandoc is an interface for pandoc converter
pypandoc==1.4
beautifulsoup4==4.6.0
# disqus
django-disqus==0.5
# custom slugify
awesome-slugify==1.6.5
#translation management tool
django-rosetta==0.9.3
# youtube embed
django-embed-video==1.0.0
django-grappelli==2.13.2
pytz==2020.5
django-allauth==0.44.0
# support special characters
Unidecode==0.4.20
Pillow==8.1.1
reportlab==3.5.34
xhtml2pdf==0.2b1
django-modeltranslation==0.16.1
django-colorfield==0.3.2
WeasyPrint==0.42.3
djangorestframework==3.11.2
django-simple-history==2.8.0
dj-stripe==2.1.1
django-preferences==1.0.0
pinax-notifications==5.0.3
pinax-templates==2.0.2
# rich text editor
django-tinymce==3.2.0
# django-gmailapi-backend
django-gmailapi-backend==0.3.0