psycopg2-binary
Django>=1.8,<1.9
django-countries==3.4.1
django-crispy-forms==1.4.0
django-braces==1.9.0
django-model-utils==1.4.0
django-pipeline==1.3.11
django-pure-pagination
django-reversion==1.9.3
markdown==2.3.1

easy-thumbnails
django-widget-tweaks==1.3
raven==6.5.0
requests==1.2.3
django-hashedfilenamestorage==1.0
# pypandoc is an interface for pandoc converter
pypandoc==0.6.0
beautifulsoup4==4.6.0
# disqus
django-disqus==0.5
# custom slugify
awesome-slugify==1.6.5
#translation management tool
django-rosetta==0.7.0
# youtube embed
django-embed-video==1.0.0
django-grappelli==2.7.3
pytz
django-allauth==0.25.2
# support special characters
Unidecode==0.4.20
reportlab==3.4.0
xhtml2pdf==0.2b1
django-modeltranslation==0.12.2
django-colorfield
WeasyPrint==0.42.3
