{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Project Entries (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="text-muted">
            {% if unapproved %}Unapproved {% endif %}
            Projects
            <small class="pull-right">
                <a class="btn btn-default btn-mini"
                    href='{% url "project-create" %}'>
                    <span class="glyphicon glyphicon-asterisk"></span>
                </a>
            </small>
        </h1>
    </div>
    {%  ifequal num_projects 0 %}
        {% if unapproved %}
            <h3>All projects are approved.</h3>
        {% else %}
            <h3>No projects are defined (use the 'add' menu or the * icon
                above to add one).</h3>
        {% endif %}
    {%  endifequal %}
    {% for project in projects %}
    <div class="row">
        <div class="col-1">
            {% if project.image_file %}
            <a href="{{ MEDIA_URL }}{{ project.image_file }}">
              <img class="img-responsive img-rounded pull-right"
                   src="{% thumbnail project.image_file 50x50 crop %}" />
            </a>
            {%  endif %}
        </div>
        <div class="col-9">
            <div class="media-body">
                <h3 class="media-heading">
                    <b>{{ project.name }}</b>
                </h3>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group pull-right">
                {%  if not project.approved and user.is_staff %}
                <a class="btn btn-success btn-mini"
                   href='{% url "project-approve" project.id %}'>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                {% endif %}
                <a class="btn btn-default btn-mini"
                    href='{% url "project-delete" project.id %}'>
                        <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-mini"
                    href='{% url "project-update" project.id %}'>
                        <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
    </div>
    {%  for version in project.versions %}
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-10">Version: {{ version.name }}
            <a href="{% url "version-detail" version.id %}">
                <span class="glyphicon glyphicon-list"></span>
            </a>
            <a href="{% url "version-thumbs" version.id %}">
                <span class="glyphicon glyphicon-th"></span>
            </a>
        </div>
    </div>
    {%  endfor %} {# version loop #}
    <hr />
    {%  endfor %} {# project loop #}
{% endblock %}
