{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Project Entries (all)</h1>
{% endblock page_title %}

{% block content %}
    <h1 class="text-muted">Projects</h1>
    {% for project in projects %}
    <div class="row">
        <div class="col-1">
            {% if project.image_file %}
            <a href="{{ MEDIA_URL }}{{ project.image_file }}">
              <img class="img-responsive img-rounded pull-right"
                   src="{% thumbnail project.image_file 50x50 crop %}" />
            </a>
            {%  endif %}
        </div>
        <div class="col-9">
            <div class="media-body">
                <h3 class="media-heading">
                    <b>{{ project.name }}</b>
                </h3>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-group btn-group-justified">
                {%  if not project.approved %}
                <a class="btn btn-info btn-mini"
                   href='{% url "project-approve" project.id %}'>Approve</a>
                {% endif %}
                <a class="btn btn-danger btn-mini"
                    href='{% url "project-delete" project.id %}'>Delete</a>
                <a class="btn btn-success btn-mini"
                    href='{% url "project-update" project.id %}'>Edit</a>
            </div>
        </div>
    </div>
    {%  endfor %}
{% endblock %}
