{% extends "project_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Update Organisation</h1>
{% endblock page_title %}

{% block content %}

    <section id="forms">
        <div class='container'>
            {% csrf_token %}
            {% crispy form %}
            {% for form in inlines %}
                {% crispy form %}
            {% endfor %}
        </div>
    </section>

    <script>
    $(document).ready(function () {
        $('legend').html('Update Organisation')
    });
    </script>

{% endblock %}
