{% load thumbnail %}
<div class="row specification-list" style="margin-top:5px;">
    <div class="col-lg-9">
        <h3>
            <a href="{% url 'specification-list' project_slug=project.slug section_slug=section.slug worksheet_slug=worksheet.slug %}">
                {{ specification.title }}: {{ specification.value }}
            </a>
        </h3>
    </div>

    <div class="col-lg-3">
        <div class="btn-group pull-right">
            <a class="btn btn-default btn-mini"
               href='{% url "specification-delete" project_slug=project.slug section_slug=section.slug worksheet_slug=worksheet.slug pk=specification.pk %}'>
                <span class="glyphicon glyphicon-minus"></span>
            </a>
            <a class="btn btn-default btn-mini"
               href='{% url "specification-update" project_slug=project.slug section_slug=section.slug worksheet_slug=worksheet.slug pk=specification.pk %}'>
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
    </div>
</div>
