{% extends "project_base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block js_head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.google').html($('.google-button'));
            $('a.github').html($('.github-button'));
        });
    </script>
{% endblock %}

{% block title %}Log In{% endblock %}

{% block container %}
    <div class="content">
        {% block content %}

            {% csrf_token %}
            <div class="container">

                <div class="custom-form-container">
                    <h1>{% trans "Log In" %}</h1>

                    {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                        <p>{% blocktrans with site.name as site_name %}Please sign in with one
                            of your existing third party accounts.{% endblocktrans %}</p>

                        <div class="socialaccount_ballot">

                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </div>

                        <div class="login-or">
                            {% blocktrans %}Or, <a href="{{ signup_url }}">sign up</a>
                                for a {{ site_name }} account and sign in below:{% endblocktrans %}
                        </div>

                        <div class="github-button" hidden>
                            <img src="{% static "img/github.png" %}" />
                            <div class="text-button">Sign in with GitHub</div>
                        </div>
                        <div class="google-button" hidden>
                            <img src="{% static "img/google.png" %}" />
                            <div class="text-button">Sign in with Google</div>
                        </div>
                        <hr>

                        {% include "socialaccount/snippets/login_extra.html" %}

                    {% else %}
                        <p>{% blocktrans %}If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="login custom-form-submit" type="submit">{% trans "Log In" %}</button>
                    </form>

                    <div class="login-help">
                        <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a> -
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a>
                    </div>
                </div>
            </div> <!-- /container -->
            </div>
        {% endblock %}
{% endblock %}