{% load thumbnail %}
<div class="panel-to-wrap col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="{% url 'project-detail' project.slug %}">
          {{ project.name }}
        </a>
      </h3>
    </div>
    <div class="panel-body">
      {% if project.image_file %}
        <div class="text-center">
          <a href="{% url 'project-detail' project.slug %}">
            <img class="img-rounded"
                 src="{% thumbnail project.image_file 150x150 crop %}"/>
          </a>
        </div>
      {% endif %}
      {% if project.description %}
        <p>{{ project.description }}</p>
        <hr/>
      {% endif %}
      <hr/>
      {% if project.versions %}
        {% for version in project.versions|slice:":2" %}
          <p>
            <strong>Version: {{ version.name }}</strong>
            <span class="btn-group pull-right">
              <a href="{% url "version-detail" project_slug=version.project.slug slug=version.slug %}"
                  class="btn btn-default btn-xs tooltip-toggle"
                  data-placement="top" data-title="Changelog List">
                <span class="glyphicon glyphicon-list"></span>
              </a>
              <a href="{% url "version-thumbs" project_slug=version.project.slug slug=version.slug %}"
                 class="btn btn-default btn-xs tooltip-toggle"
                 data-placement="top" data-title="Changelog Thumbs">
                <span class="glyphicon glyphicon-th"></span>
              </a>
            </span>
          </p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="panel-footer">
      {% if not project.approved and user.is_staff %}
        <a class="btn btn-success btn-mini tooltip-toggle"
           href='{% url "project-approve" project.slug %}'
           data-placement="top" data-title="Approve {{ project.name }}">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </a>
      {% endif %}
      {% if user.is_authenticated %}
        <a href="{% url 'project-delete' project.slug %}"
           class="btn btn-default btn-mini tooltip-toggle"
            data-placement="top" data-title="Delete {{ project.name }}">
          <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a href="{% url 'project-update' project.slug %}"
           class="btn btn-default btn-mini tooltip-toggle"
           data-placement="top" data-title="Update {{ project.name }}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
