/*
Inspired from the "details" class in organisation_detail.css
*/

.details-worksheet {
    padding: 10px;
    font-family: inherit;
    font-size: 12pt;
    line-height: 175%;
    float: left;
    width: 100%;
}
