<div class="modal fade" id="chooseCertificateModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Choose Certificate Type for <span id="attendee-name"></span></b></h4>
            </div>
            <div class="modal-body">
                <form id="chooseCertificateForm" role="form">
                    <label>Certificate type:</label>
                    <br>
                    <select name="certificate-type" class="form-control">
                    </select>
                    <br/>
                    <input name="attendee_id" hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeChooseCertificateForm()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitChooseCertificateForm()">Submit</button>
            </div>
        </div>

    </div>
</div>