{% extends "project_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Add Attendee</h1>
{% endblock page_title %}

{% block content %}

    <section id="forms">
        <div class='container'>
            {% csrf_token %}
            {% crispy form %}
            {% for form in inlines %}
                {% crispy form %}
            {% endfor %}
        </div>
    </section>
    <hr />

    <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
            <div class="col-md-8">
                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                 <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
            </div>
        </div>
    </form>

{% endblock %}
