{% extends "project_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Upload Attendee CSV File.</h1>
{% endblock page_title %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h3>Upload Attendee Csv File.</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form action="" method="post" name="file" enctype="multipart/form-data" class="form-horizontal" style="margin-top: 10%">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-8">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="form-group" style="margin-right: 1500pt; margin-top: 30pt">
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;" type="file"></span>Upload </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="header">
                    <h3>Format for the file to be uploaded:</h3>
                    <blockquote>
                            <p>Please note that you need to upload a CSV (with a .csv extension) file
                                with the following fields only and the fields needs to be seperated by a comma.
                                The header row is needed.<br/>
                                Please make sure the fields order are correct as shown below:
                            </p>
                    </blockquote>
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table table-bordered">
                              <thead class="thead-inverse">
                                <tr>
                                  <th>First Name</th>
                                  <th>Surname</th>
                                  <th>Email</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>first name</td>
                                  <td>surname</td>
                                  <td>attendee@bar.com</td>
                                </tr>
                              <tr>
                                  <td>foo</td>
                                  <td>last name</td>
                                  <td>attendee2@bar.com</td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                      <div>You may also use this template: <a href="{% static 'docs/example.csv' %}" download>example.csv</a></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
