{% extends "project_base.html" %}
{% load disqus_tags %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Entries (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h4 class="muted">Project:
                <b>{{ entry.version.project }}</b></h4>
        </div>
        <div class="col-lg-6">
            <h4 class="muted">Version:
                <b>{{ entry.version.name }}</b></h4>
        </div>
    </div>
    {% include "entry/includes/entry_detail.html" %}
    <h5 id="comments">Comments</h5>
    {% disqus_show_comments %}


{% endblock %}

