{% extends "project_base.html" %}
{% load custom_markup %}
{% load thumbnail %}
{% load disqus_tags %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
  <h1>Entries (all)</h1>
{% endblock page_title %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <h4 class="muted">Project:
        <b>{{ entry.version.project }}</b></h4>
    </div>
    <div class="col-lg-6">
      <h4 class="muted">Version:
        <b>{{ entry.version.name }}</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <h3><span class="text-muted">Feature:</span> {{ entry.title }}</h3>
    </div>
    <div class="col-lg-2">
      <div class="btn-group pull-right">
        {%  if not entry.approved and user.is_staff %}
          <a class="btn btn-success btn-mini tooltip-toggle"
             data-title="Approve Entry"
             href='{% url "entry-approve" project_slug=entry.version.project.slug version_slug=entry.version.slug slug=entry.slug %}'>
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </a>
        {% endif %}
        <a class="btn btn-default btn-mini tooltip-toggle"
           data-title="Delete Entry"
           href='{% url "entry-delete" project_slug=entry.version.project.slug version_slug=entry.version.slug slug=entry.slug %}'>
          <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a class="btn btn-default btn-mini tooltip-toggle"
           data-title="Update Entry"
           href='{% url "entry-update" project_slug=entry.version.project.slug version_slug=entry.version.slug slug=entry.slug %}'>
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </div>
    </div>
  </div>
  </div>
  <div class="row" style="margin-top:10px">
    <div class="col-lg-8">
      {{ entry.description|base_markdown }}
    </div>
    <div class="col-lg-4">
      {% if entry.image_file %}
        <a href="/media/{{ entry.image_file }}">
          <img class="img-responsive img-rounded pull-right"
               src="{{ entry.image_file|thumbnail_url:'large-entry' }}"
               alt="" />{# see core/settings/contrib.py for large-entry #}
        </a>
      {%  endif %}
    </div>
  </div>
<h5 id="comments">Comments</h5>
{% disqus_show_comments %}

{% endblock %}
