{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Entries (all)</h1>
{% endblock page_title %}

{% block content %}
    <p class="lead">Use the links below to view the current changelog state
                        and to add new entries. You can use markdown in the
                        detail section of the changelog entry. Each entry must
                        have one image associated with it. Keep entries
                        short and go right to the point of the topic.</p>
    <h1 class="text-muted">Changelog Entries</h1>
    {% for entry in entries %}
    <div class="row">
        <div class="col-10">
            <div class="media-body">
                <h3 class="media-heading">
                    Feature: <b>{{ entry.title}}</b>
                </h3>
            </div>
        </div>
        <div class="col-2">
            {%  ifnotequal user.name 'AnonymousUser' %}
            <div class="btn-group btn-group-justified">
              {% if not project.approved %}
                <a class="btn btn-info btn-mini"
                   href='{% url "entry-approve" entry.id %}'>Approve</a>
              {% endif %}
                <a class="btn btn-info btn-mini"
                   href='{% url "entry-detail" entry.id %}'>View</a>
              <a class="btn btn-danger btn-mini"
                    href='{% url "entry-delete" entry.id %}'>Delete</a>
                <a class="btn btn-success btn-mini"
                    href='{% url "entry-update" entry.id %}'>Edit</a>
            </div>
            {%  endifnotequal %}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {{ entry.description|markdown:"safe" }}
        </div>
        <div class="col-4">
            {% if entry.image_file %}
            <a href="{{ MEDIA_URL }}{{ entry.image_file }}">
              <img class="img-responsive img-rounded pull-right"
                   src="{% thumbnail entry.image_file 50x50 crop %}" />
            </a>
            {%  endif %}
        </div>
    </div>
    <hr />
    {% endfor %}
{% endblock %}
