{% load custom_markup %}
{% load thumbnail %}
<h4 class="text-muted">
    Collaborators
    <a href="{% url 'collaborator-create' project_slug=project.slug %}"
       class="btn btn-default pull-right btn-sm tooltip-toggle"
       data-title="Assign New Collaborator">
        {% show_button_icon "add" %}
    </a>
</h4>
<hr/>
{% if project.collaborators %}
    {% for collaborator in project.collaborators %}
        <div style="margin: 0 0 10px">
            <strong style="cursor: default"
                    {% if collaborator.user.email %}
                    data-toggle="tooltip" title="{{ collaborator.user.email }}"
                    {% endif %}
            >
                <span class="text-muted">User:</span> {{ collaborator.user.username }}
            </strong>
            <div class="btn-group pull-right" style="margin-top: -3px;">
                <a href="{% url 'collaborator-delete' pk=collaborator.pk %}"
                   class="btn btn-default btn-xs tooltip-toggle"
                   data-placement="top"
                   data-title="Delete {{ collaborator.user.username }} as collaborator of {{ project.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    No collaborator found
{% endif %}