{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Committee - {{ committee.name }}{% endblock %}

{% block extra_head %}
  {{ Other }}
  <script type="text/javascript"
          src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
  {{ floppyforms }}

{% endblock %}

{% block content %}

  <div class="row">
    {% include 'ballot/includes/committee-heading.html' %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>{{ ballot.name }}</h2>
      <hr/>
    </div>
  </div>
  <div class="row">
    {% include 'ballot/includes/ballot-vote-details.html' %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Summary</h3>
      <hr/>
      <p class="lead">{{ ballot.summary }}</p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <h4>Description</h4>
      <hr/>
      <p>{{ ballot.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr/>
      <div id="vote-container"></div>
    </div>
  </div>
{% endblock %}
{% block inline-js %}
  <script>
    $(function(){
      var loadUrl = '{% url "vote-create" project_slug=ballot.committee.project.slug committee_slug=ballot.committee.slug ballot_slug=ballot.slug %}';
      var voteContainer = $('#vote-container');
      voteContainer.load(loadUrl, function(){
        var voteForm = $('#vote-form');
        var submitBtn = $('#submit-id-submit');
        voteForm.submit(function(e){
          e.preventDefault();
          var fields = $(this).find('input[class="vote-checkbox"]:checked');
          if (!fields.length){
            alert('Please select at least one option!');
          } else if (fields.length > 1) {
            alert('Please only select one option!');
          } else {
            submitBtn.html('Submitting....').addClass('disabled');
            $.post(loadUrl, voteForm.serialize(), function(data){
              voteContainer.fadeOut('slow', function(){
                if (data.successful) {
                  voteContainer.html('<p class="lead text-center">Thanks! We ' +
                      'have received your vote.');
                  voteContainer.fadeIn('slow');
                  setTimeout(function () {
                    window.location.reload();
                  }, 3000);
                } else {
                  voteContainer.html('<p class="lead text-center">Sorry! ' +
                      data.errors.__all__ + '</p>');
                  voteContainer.fadeIn('slow');
                  setTimeout(function () {
                    window.location.reload();
                  }, 2000);
                }
              });
            });
          }
        });
      });
    });
  </script>
{% endblock %}
