{% extends "base.html" %}
{% load markup %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Entries (all)</h1>
{% endblock page_title %}

{% block content %}

    {% for entry in entries %}
    <div class="well">
        <h1><i class="icon-star"></i> Feature: {{ entry.title }}</h1>
        <hr />
        <div class="row">
            <div class="span-6">
                {{ entry.description|markdown:"safe" }}
            </div>
            {% if entry.image_file %}
            <div class="span-6 pull-right">
                <img class="img-rounded"
                     width="400px"
                     src="{{ MEDIA_URL }}{{ entry.image_file }}" />
            </div>
            {%  endif %}
        </div>
        <br/>
        <div class="row">
            <div class="pull-right">
                <a class="btn btn-small btn-primary"
                   {# TODO - use named url below #} }}
                   href='/entry/update/{{ entry.id }}'>Edit This Record</a>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}
