.form-screenshot {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    padding-bottom: 0 !important;
}
.form-screenshot label.control-label {
    display: none;
}
.form-screenshot input.clearablefileinput {
    margin-top: 5px;
}
.form-screenshot label {
    margin-bottom: 5px;
}
.form-screenshot div.checkbox{
    margin-top: -10px;
}

.form-screenshot legend {
    display: none;
}

.form-control{
    display:block !important;
    width:100% !important;
    height:auto !important;
    min-height: 34px !important;
    padding:6px 12px !important;
    font-size:14px !important;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: inherit !important;
    font-weight: normal !important;
}

.selector {
    display: inline-block !important;
    float: none !important;
}

input[type=submit]{
    -webkit-appearance:button !important;
    cursor:pointer
}

.btn-primary {
    border-color: #245580 !important;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%) !important;
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88)) !important;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-repeat: repeat-x !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075) !important;
    height: 34px !important;
}

.btn-primary:hover {
    background-color: #265a88 !important;
    background-position: 0 -15px !important;
}

.selector select[multiple=multiple] {
    max-width: 366px !important;
}
