{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Training Center Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Training Center Deleted</h1>
{% endblock page_title %}

{% block content %}
    <form action="" id="delete-confirmation" method="post">{% csrf_token %}
        <div class="alert row">
            <div class="col-lg-10">
                <p class="lead">Please confirm you wish to delete the training center below!</p>
            </div>
            <div class="col-lg-2">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm tooltip-toggle"
                       href="#"
                       onClick="$('#delete-confirmation').submit()"
                       data-title="Delete {{ trainingcenter.name }}">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                    <a class="btn btn-default btn-sm tooltip-toggle"
                       href='{% url "sponsor-list" trainingcenter.project.slug %}'
                       data-title="Cancel">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Training Center: {{ trainingcenter.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                {{ trainingcenter.description|base_markdown }}
            </div>
            <div class="col-lg-4">
                {% if trainingcenter.logo %}
                    <img class="img-responsive img-rounded"
                         src="{{ MEDIA_URL }}{{ trainingcenter.logo }}" />
                {%  endif %}
            </div>
        </div>
    </form>
{% endblock %}
