{% extends "project_base.html" %}
{% load custom_markup %}

{% block title %}Training Center - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block js_head %}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
    <script>
        var map;
        var marker;

        $(document).ready(function () {

            var lat = {{ trainingcenter.location.y }};
            var long = {{ trainingcenter.location.x }};

            // Add map
            $('#map').css({'height': 400, 'width': 900});
            map = L.map('map').setView([lat, long], 13);
            L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
                attribution:  'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012',
            }).addTo(map);
            marker = L.marker( [ lat,long ] ).addTo( map );

        })

    </script>
{% endblock %}

{% block page_title %}
    <h1>Training Center Detail</h1>
{% endblock page_title %}

{% block content %}

    <div class="row">
        <div class=".col-md-4">
            <div class="col-lg-10">
            <h1>{{ trainingcenter.name }}</h1>
        </div>

        {# Only organisation owners or staff can edit #}
        <div class="col-lg-2">
            <div class="btn-group">
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff %}
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "trainingcenter-delete" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-title="Delete {{ trainingcenter.name }}">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>
                <a class="btn btn-default btn-sm tooltip-toggle"
                   href='{% url "trainingcenter-update" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-title="Edit {{ trainingcenter.name }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                 <a class="btn btn-default btn-sm tooltip-toggle"
                    href='{% url "certifyingorganisation-detail" trainingcenter.certifying_organisation.project.slug trainingcenter.certifying_organisation.slug %}'
                    data-title="Back">
                     <span class="glyphicon glyphicon-arrow-left"></span>
                 </a>
            </div>
        </div>
        </div>
    </div>

    </div>
    <div class="row">
    <div class="col-lg-8">
        Name : {{ trainingcenter.name }}<br/>
        Email : {{ trainingcenter.email }}<br/>
        Address : {{ trainingcenter.address }}<br/>
        Phone : {{ trainingcenter.phone }}<br/>
        Location : Lat: {{ trainingcenter.location.y }} Lon: {{ trainingcenter.location.x }}<br/>
    </div>
        <div class="map-wrapper" style="horiz-align: center; margin-left: 80px; margin-top: 10px">
        <div class="row" id="map"></div>
        </div>
    </div>

{% endblock %}