<div class="col-md-10 col-md-offset-1 text-center">
    {% if not ballot.denied or ballot.approved %}
        <div class="alert alert-info col-md-3">
            Closes in {{ ballot.closes|timeuntil }}
        </div>
        <div class="alert alert-info col-md-2 col-md-offset-1 modal-btn"
             data-toggle="modal" data-target="#myModal" style="cursor: pointer">
            {{ ballot.get_total_vote_count }}
            vote{{ ballot.get_total_vote_count|pluralize }} so far
        </div>
        <div class="alert col-md-2 col-md-offset-1
          {% if ballot.has_quorum %}alert-success{% else %}alert-danger{% endif %}">
            {% if ballot.has_quorum %}Quorum Reached{% else %}No Quorum{% endif %}
        </div>
        {% if ballot.has_quorum %}
            {% if ballot.get_current_tally == 0 %}
                <div class="alert alert-warning col-md-2 col-md-offset-1">
                    So far, it's 50/50!
                </div>
            {% elif ballot.get_current_tally > 0 %}
                <div class="alert alert-success col-md-2 col-md-offset-1">
                    Right now, it's a winner
                </div>
            {% elif ballot.get_current_tally < 0 %}
                <div class="alert alert-danger col-md-2 col-md-offset-1">
                    Right now, it's a firm no
                </div>
            {% endif %}
        {% else %}
            {% if ballot.get_current_tally == 0 %}
                <div class="alert alert-warning col-md-2 col-md-offset-1">
                    But it's 50/50
                </div>
            {% elif ballot.get_current_tally > 0 %}
                <div class="alert alert-success col-md-2 col-md-offset-1">
                    But most agree
                </div>
            {% elif ballot.get_current_tally < 0 %}
                <div class="alert alert-danger col-md-2 col-md-offset-1">
                    But most disagree
                </div>
            {% endif %}
        {% endif %}
    {% elif ballot.approved %}
        <div class="alert alert-success lead">Approved</div>
    {% elif ballot.denied %}
        <div class="alert alert-danger lead">Denied</div>
    {% endif %}
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Votes</h4>
      </div>
      <div class="modal-body">
          {% for voted in all_votes %}
              {% if voted.user.first_name or voted.user.last_name %}
                  <p><b>{{ voted.user.first_name }} {{ voted.user.last_name }}</b> voted <b>{{ voted.get_choice }}</b></p>
              {% else %}
                  <p><b>{{ voted.user.username }}</b> voted <b>{{ voted.get_choice }}</b></p>
              {% endif %}
          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<style>
    .modal-btn:hover {
        opacity: 0.7;
    }
</style>