{% extends 'project_base.html' %}

{% block content %}
    <div class="row text-center" style="margin-top: 20%;">
        <h1 class="text-muted">400</h1>
        <p class="lead">Erm....</p>
        <p class="lead text-muted">
            It looks like you might be trying to do something you're not allowed to.
            <br/>
            If this is not the case, try logging in. If you are already logged in,
            then you probably do not have permission. Sorry.
        </p>
    </div>
{% endblock %}
