{% load i18n %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% endif %}

    {% for page in page_obj.pages %}
      {% if page %}
        {% ifequal page page_obj.number %}
          <li class="page-item active"><a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
        {% endifequal %}
      {% else %}
         ...
      {% endif %}
      </li>

    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% endif %}

  </ul>
</nav>