{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Generic page {% endblock title%}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'contrib' %}
</head>

<body>
    <div id="container" class="container">
        <div class="navbar navbar-fixed-top">
            <ul class="nav navbar-nav">
                <li><a href='{% url "project-list" %}'>Home</a></li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Show <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "project-list" %}'>Projects</a></li>
                        <li><a href='{% url "category-list" %}'>Categories</a></li>
                        <li><a href='{% url "version-list" %}'>Versions</a></li>
                        <li><a href='{% url "entry-list" %}'>Entries</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Add <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "project-create" %}'>Project</a></li>
                        <li><a href='{% url "category-create" %}'>Category</a></li>
                        <li><a href='{% url "version-create" %}'>Version</a></li>
                        <li><a href='{% url "entry-create" %}'>Entry</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a href='{% url "userena_signout" %}'>Log Out</a></li>
                        <li><a href='{% url "userena_profile_detail" user %}'>View Profile</a></li>
                        <li><a href='{% url "userena_profile_edit" user %}'>Edit Details</a></li>
                        <li><a href='{% url "userena_password_change" user %}'>Change Password</a></li>
                        <li><a href='{% url "userena_email_change" user %}'>Change Email</a></li>
                    {% else %}
                        <li><a href='{% url "userena_signin" %}'>Log In</a></li>
                        <li><a href='{% url "userena_signup" %}'>Sign Up</a></li>
                        <li><a href='{% url "userena_password_reset" %}'>Lost Password</a></li>
                      {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body-content">
            {% block content %}{% endblock content %}
        </div>
        <div class="navbar navbar-fixed-bottom">
            <p><center>This site is created using open source code
              available on
            <a href="https://github.com/timlinux/visual_changelog">
            GitHub!</a>
            </center></p>
        </div>
    </div>
    {% compressed_js 'contrib' %}
</body>
</html>
