{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title%} Generic page {% endblock title%}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'contrib' %}
</head>

<body>
<div id="container" class="container">
    <div class="hero-unit">
    <a href="http://qgis.org">
        <img style="float: left;"
             src="{{ STATIC_URL }}/img/qgis-icon-60x60.png"/>
    </a>
    <h2 class="centered">Welcome to the QGIS Visual Changelog!</h2>
    <p>This site is created using open source code available on <a
            href="https://github.com/timlinux/visual_changelog">GitHub!</a></p>
    </div>
{% block content %}

{% endblock content %}
</div>

{% compressed_js 'contrib' %}
</body>
</html>
