{% load pipeline %}
{% load static %}
{% load lesson_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projecta: {% block title %}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


    <!-- Chosen library -->
    <link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">
    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>

    <!-- Cookie disclaimer -->
    <script type="text/javascript" id="cookieinfo" src="{% static 'cookieinfo/cookieinfo.min.js' %}" data-bg="#1c2028"
            data-fg="#FFFFFF" data-link="#22961c" data-cookie="CookieInfoScript" data-text-align="left"
            data-message="We use functional cookies to enhance your experience.
            We do not use any ad tracking or targeting cookies.
            By continuing to visit this site you agree to our use of cookies."
            data-close-text="Got it!">
    </script>

    {% block js_head %}{% endblock js_head %}
    {% block css_head %}{% endblock css_head %}
    {% if the_project.gitter_room %}
        <script type="text/javascript">
            var project_gitter_room = '{{ the_project.gitter_room }}';
            ((window.gitter = {}).chat = {}).options = {
                room: project_gitter_room
            }
        </script>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {% stylesheet 'project' %}

    {% block extra_head %}{% endblock extra_head %}

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#top-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="top-navbar">
        {% include 'includes/base-auth-nav-left.html' %}
        <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
            {% include 'includes/right-nav.html' %}
        </ul>
    </div>
</nav>
<div id="container" class="container">
    {% if user.is_authenticated %}
        <div class="modal fade" id="issue-modal"><!-- Modal -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Report an issue</h4>
                    </div>
                    <div class="modal-body">
                        <form id="issue-form" class="form-horizontal" style="padding: 20px 20px;">
                            <div class="form-group">
                                <label for="issue-title">Title</label>
                                <input class="form-control"
                                       type="text"
                                       id="issue-title">
                                <label for="issue-description">Description</label>

                          <textarea class="form-control"
                                    id="issue-description"
                                    rows="3"
                                    cols="10"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button id="issue-submit-button" class="btn btn-primary"
                                onclick="window.submitIssue()">
                            Submit an issue
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %} {#  user authenticated #}
    <div class="body-content">
        {% block content %}{% endblock content %}
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom center"
         role="navigation">
        <p class="text-center" style="padding-top: 8px">
            This application was created by <a href="http://kartoza.com">
            Kartoza (Pty) Ltd.
            <img src="{% static "img/kartoza.png" %}" alt="Linfiniti"/>
        </a>
            <a href="https://github.com/kartoza/projecta">
                Available on GitHub!
            </a>
            <span>Version: {% version_tag %}</span>
        </p>
    </nav>
</div>

<!-- Creates the bootstrap modal where the thumbnaiul image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-body" >
                <a href="#" id="image-url" target="_blank">
                    <img src="" id="imagepreview">
                </a>
            </div>
            Click the image to open original size image in new tab
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% javascript 'contrib' %}
{% javascript 'project' %}
{% block inline-js %}{% endblock %}
<script>
    $(function(){

        // Paus GIF's on page load...
        window.onload = function() {
            Gifffer();
        };

        $('.tooltip-toggle').tooltip();
        if ($('.panel-to-wrap').length) {
            while ((panels = $(':not(.row)>.panel-to-wrap:lt(3)')).length) {
                panels.wrapAll($('<div class="row"></div>'));
            }
        }
        if ($('.thumbnail-to-wrap').length) {
            while ((panels = $(':not(.row)>.thumbnail-to-wrap:lt(4)')).length) {
                panels.wrapAll($('<div class="row"></div>'));
            }
        }
    });

    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }

</script>

{% if intercom_app_id and request.user %}
    <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
            {% if request.user.first_name %}
                name: "{{ request.user.first_name }}",
            {% else %}
                name: "{{ request.user.username }}",
            {% endif %}
            email: "{{ request.user.email }}",
            created_at: {{ request.user.date_joined|date:"U" }},
            app_id: "{{ intercom_app_id }}"
        };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
{% endif %}
</body>
</html>
