{% load compressed %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projecta: {% block title %}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'contrib' %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#top-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">Projecta</a>
  </div>
  <div class="collapse navbar-collapse" id="top-navbar">
    <ul class="nav navbar-nav">
      <li><a href='{% url "home" %}'>Home</a></li>
    </ul>
    {% if user.is_authenticated %}
      {% block auth-nav-left %}{% endblock %}
    {% else %}
      {% block anon-nav-left %}{% endblock %}
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
      {% include 'includes/right-nav.html' %}
    </ul>
  </div>
</nav>
<div id="container" class="container">
  {% if user.is_authenticated %}
  <div class="modal fade" id="issue-modal"><!-- Modal -->
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"
                          aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Report an issue</h4>
              </div>
              <div class="modal-body">
                  <form id="issue-form" class="form-horizontal">
                      <div class="form-group">
                          <label for="issue-title">Title</label>
                          <input class="form-control"
                                 type="text"
                                 id="issue-title"
                                 placeholder="Title">
                          <label for="issue-description">Description</label>

                          <textarea class="form-control"
                                    id="issue-description"
                                    rows="3"
                                    cols="10"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal">
                      Close
                  </button>
                  <button id="issue-submit-button" class="btn btn-primary"
                          onclick="submitIssue()">
                      Submit an issue
                  </button>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %} {#  user authenticated #}
  <div class="body-content">
      {% block content %}{% endblock content %}
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom center"
       role="navigation">
      <p class="text-center">
          This application was created by <a href="http://linfiniti.com">
              Linfiniti Consulting CC.
              <img src="{% static "img/linfiniti.png" %}" alt="Linfiniti"/>
          </a>
          <a href="https://github.com/timlinux/visual_changelog">
              Available on GitHub!
          </a>
      </p>
  </nav>
</div>
{% compressed_js 'contrib' %}
{% block inline-js %}{% endblock %}
<script>
  $('.tooltip-toggle').tooltip();
</script>
</body>
</html>
